<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.vm.mapper.ChartMenuTemplateMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.chinawiserv.dsp.vm.entity.po.ChartMenuTemplate">
		<id column="id" property="id" />
		<result column="chart_id" property="chartId" />
		<result column="menu_id" property="menuId" />
		<result column="location" property="location" />
		<result column="show_order" property="showOrder" />
	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap"
		type="com.chinawiserv.dsp.vm.entity.vo.ChartMenuTemplateVo">
		<result column="chart_code" property="chartCode" />
		<result column="chart_name" property="chartName" />
		<result column="is_name_show" property="isNameShow" />
		<result column="chart_desc" property="chartDesc" />
		<result column="chart_type" property="chartType" />
		<result column="chart_url" property="chartUrl" />
		<result column="chart_time_type" property="chartTimeType" />
		<result column="chart_time_scope" property="chartTimeScope" />
		<result column="has_sub_indictor" property="hasSubIndictor" />
		
	</resultMap>

	<!-- 根据user和menuid查询当前菜单下的图表有哪些 -->
	<select id="selectChartTemplateList" parameterType="java.util.Map"
		resultMap="BaseResultVoMap">
		SELECT
		t.id,t.chart_id,t.menu_id,t.location,t.show_order,
		t1.chart_code,t1.chart_name,t1.is_name_show,t1.chart_desc,t1.chart_type,t1.chart_url,t1.chart_time_type,t1.chart_time_scope,t1.has_sub_indictor
		FROM vm_chart_menu_template t
		LEFT JOIN vm_chart_conf t1 ON
		t.chart_id=t1.id
		<include refid="queryConditions"></include>
		ORDER BY t.show_order asc
	</select>


	<!-- 通用查询过滤条件 -->
	<sql id="queryConditions">
		<where>
			<if test="id != null">
				t.id = #{id,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>

</mapper>
