
.btn_develop{
	width:100%;

	    padding-left: 20px;
	    margin-top:10px;
}
 .nav_ulss{
	color: #000;
	font-size: 14px;
	
	
}

.nav_ulss>li{
	float:left;
	color: #fff;
	font-size: 14px;
	opacity: 0.45;
	padding: 15px;
	cursor:pointer;
}
.nav_ulss>li.active{
	opacity:1;
	background:#27408B;
}


/*目录审核意见发布框重置*/
.control-Reslabel{
	text-align:left;
}
.radio-inline, .checkbox-inline{
	    padding-left: 80px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
	margin-left: 45px;
}
.wrapper-xs{
	text-align:center;
	padding:10px 0;
}


.marginBot{
    margin-bottom:20px;
}

.seventy-percent-height{
	height: 70%;
}


/* 目录编目导入上传样式变更 */
/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 40px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}