<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.cs.CsDataSyncCollectBlockMapper">

    <!-- CsDataSyncCollectBlock的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.po.cs.CsDataSyncCollectBlock">
        <id column="id" property="id"/>
        <result column="block_name" property="blockName"/>
        <result column="block_url" property="blockUrl"/>
        <result column="table_id" property="tableId"/>
        <result column="website_name" property="websiteName"/>
    </resultMap>

    <sql id="cs_data_sync_collect_block_Column">
        id , block_name , block_url,table_id ,website_name
    </sql>

</mapper>