<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.cs.CsDataSyncCollectMapper">

    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.cs.CsDataSyncCollect">
        <id column="id" property="id"/>
        <result column="db_id" property="dbId"/>
        <result column="table_name" property="tableName"/>
        <result column="update_time" property="updateTime"/>
        <result column="source_name" property="sourceName"/>
        <result column="project_name" property="projectName"/>
    </resultMap>

    <!-- 数据库中表名为:cs_data_sync_collect的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="cs_data_sync_collect_Column">
         id ,db_id , table_name, update_time,source_name, project_name
    </sql>

   
</mapper>