<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.cs.CsDataSyncMappingMapper">

    <!-- CsDataSyncMapping的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.cs.CsDataSyncMapping">
        <id column="id" property="id"/>
        <result column="website_name" property="websiteName"/>
        <result column="block_url" property="blockUrl"/>
        <result column="block_name" property="blockName"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 数据库中表名为:cs_data_sync_mapping的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="cs_data_sync_mapping_Column">
         id , website_name,block_url , block_name,deleted
    </sql>

</mapper>