<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapActivityDocMapMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocMap">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="doc_id" property="docId"/>
        <result column="doc_io_type" property="docIoType"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapActivityDocMapVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_activity_doc_map t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_activity_doc_map t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_activity_doc_map t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocMap">
        insert into drap_activity_doc_map(id,activity_id,doc_id,doc_io_type) values(
        #{id},#{activityId},#{docId},#{docIoType})
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocMap">
        update drap_activity_doc_map
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId},
            </if>
            <if test="docId != null">
                doc_id = #{docId},
            </if>
            <if test="docIoType != null">
                doc_io_type = #{docIoType},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_activity_doc_map
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>
    
	<insert id="batchInsertPO" parameterType="java.util.Map">
    	  insert into drap_activity_doc_map(id,activity_id,doc_id,doc_io_type) values
        <foreach collection="list" item="item" separator=",">
        	(#{item.id},#{item.activityId},#{item.docId},#{item.docIoType})
        </foreach>
    </insert>

</mapper>
