<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapActivityDocItemMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocItem">
        <id column="id" property="id"/>
        <result column="doc_id" property="docId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="code_index" property="codeIndex"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapActivityDocItemVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_activity_doc_item t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_activity_doc_item t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_activity_doc_item t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocItem">
        insert into
        drap_activity_doc_item(id,doc_id,item_code,item_name,code_index,create_user,create_time,update_user,update_time,delete_flag)
        values(
        #{id},#{docId},#{itemCode},#{itemName},#{codeIndex},#{createUser},#{createTime},#{updateUser},#{updateTime},#{deleteFlag}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapActivityDocItem">
        update drap_activity_doc_item
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="docId != null">
                doc_id = #{docId},
            </if>
            <if test="itemCode != null">
                item_code = #{itemCode},
            </if>
            <if test="itemName != null">
                item_name = #{itemName},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_activity_doc_item
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>

	<insert id="batchInsertPO" parameterType="java.util.Map">
    	  insert into
        drap_activity_doc_item(id,doc_id,item_code,item_name,code_index,create_user,create_time,update_user,update_time,delete_flag)
        values
        <foreach collection="list" item="item" separator=",">
        	(#{item.id},#{item.docId},#{item.itemCode},#{item.itemName},#{item.codeIndex},#{item.createUser},#{item.createTime},#{item.updateUser},#{item.updateTime},#{item.deleteFlag})
        </foreach>
    </insert>

</mapper>
