<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapDictTableInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapDictTableInfo">
        <id column="id" property="id"/>
        <result column="db_id" property="dbId"/>
        <result column="table_type" property="tableType"/>
        <result column="table_code" property="tableCode"/>
        <result column="table_name" property="tableName"/>
        <result column="table_cn_name" property="tableCnName"/>
        <result column="table_desc" property="tableDesc"/>
        <result column="code_index" property="codeIndex"/>
        <result column="table_source_type" property="tableSourceType"/>
        <result column="real_table_id" property="realTableId"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapDictTableInfoVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_dict_table_info t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_dict_table_info t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_dict_table_info t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDictTableInfo">
        insert into
        drap_dict_table_info(id,db_id,table_type,table_code,table_name,table_cn_name,table_desc,code_index,table_source_type,real_table_id)
        values(
        #{id},#{dbId},#{tableType},#{tableCode},#{tableName},#{tableCnName},#{tableDesc},#{codeIndex},#{tableSourceType},#{realTableId}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDictTableInfo">
        update drap_dict_table_info
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dbId != null">
                db_id = #{dbId},
            </if>
            <if test="tableType != null">
                table_type = #{tableType},
            </if>
            <if test="tableCode != null">
                table_code = #{tableCode},
            </if>
            <if test="tableName != null">
                table_name = #{tableName},
            </if>
            <if test="tableCnName != null">
                table_cn_name = #{tableCnName},
            </if>
            <if test="tableDesc != null">
                table_desc = #{tableDesc},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="tableSourceType != null">
                table_source_type = #{tableSourceType},
            </if>
            <if test="realTableId != null">
                real_table_id = #{realTableId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_dict_table_info
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
