<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapDataMetaMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapDataMeta">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
        <result column="parent_code" property="parentCode"/>
        <result column="meta_code" property="metaCode"/>
        <result column="meta_en_name" property="metaEnName"/>
        <result column="meta_name" property="metaName"/>
        <result column="meta_define" property="metaDefine"/>
        <result column="meta_format" property="metaFormat"/>
        <result column="is_show" property="isShow"/>
        <result column="order_by" property="orderBy"/>
        <result column="code_index" property="codeIndex"/>
        <result column="status" property="status"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapDataMetaVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_data_meta t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_data_meta t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_data_meta t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDataMeta">
        insert into
        drap_data_meta(id,category,parent_code,meta_code,meta_en_name,meta_name,meta_define,meta_format,is_show,order_by,code_index,status,create_user_id,create_time,update_user_id,update_time,delete_flag)
        values(
        #{id},#{category},#{parentCode},#{metaCode},#{metaEnName},#{metaName},#{metaDefine},#{metaFormat},#{isShow},#{orderBy},#{codeIndex},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{deleteFlag}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDataMeta">
        update drap_data_meta
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="parentCode != null">
                parent_code = #{parentCode},
            </if>
            <if test="metaCode != null">
                meta_code = #{metaCode},
            </if>
            <if test="metaEnName != null">
                meta_en_name = #{metaEnName},
            </if>
            <if test="metaName != null">
                meta_name = #{metaName},
            </if>
            <if test="metaDefine != null">
                meta_define = #{metaDefine},
            </if>
            <if test="metaFormat != null">
                meta_format = #{metaFormat},
            </if>
            <if test="isShow != null">
                is_show = #{isShow},
            </if>
            <if test="orderBy != null">
                order_by = #{orderBy},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_data_meta
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
