<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapDbUpdateMonitorHistoryMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapDbUpdateHistory">
        <id column="id" property="id"/>
        <result column="db_id" property="dbId"/>
        <result column="monitor_type" property="monitorType"/>
        <result column="operator" property="operator"/>
        <result column="monitor_time" property="monitorTime"/>
        <result column="cur_status" property="curStatus"/>
        <result column="confirm_user" property="confirmUser"/>
        <result column="confirm_time" property="confirmTime"/>
        <result column="confirm_status" property="confirmStatus"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapDbUpdateMonitorHistoryVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_db_update_history t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_db_update_history t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_db_update_history t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDbUpdateHistory">
        insert into
        drap_db_update_history(id,db_id,monitor_type,operator,monitor_time,cur_status,confirm_user,confirm_time,confirm_status)
        values(
        #{id},#{dbId},#{monitorType},#{operator},#{monitorTime},#{curStatus},#{confirmUser},#{confirmTime},#{confirmStatus}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDbUpdateHistory">
        update drap_db_update_history
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dbId != null">
                db_id = #{dbId},
            </if>
            <if test="monitorType != null">
                monitor_type = #{monitorType},
            </if>
            <if test="operator != null">
                operator = #{operator},
            </if>
            <if test="monitorTime != null">
                monitor_time = #{monitorTime},
            </if>
            <if test="curStatus != null">
                cur_status = #{curStatus},
            </if>
            <if test="confirmUser != null">
                confirm_user = #{confirmUser},
            </if>
            <if test="confirmTime != null">
                confirm_time = #{confirmTime},
            </if>
            <if test="confirmStatus != null">
                confirm_status = #{confirmStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_db_update_history
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
