<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapDatasetItemMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapDatasetItem">
        <id column="id" property="id"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="item_type" property="itemType"/>
        <result column="item_desc" property="itemDesc"/>
        <result column="belong_dept" property="belongDept"/>
        <result column="sensitive_remark" property="sensitiveRemark"/>
        <result column="update_frequency" property="updateFrequency"/>
        <result column="share_type" property="shareType"/>
        <result column="share_range" property="shareRange"/>
        <result column="share_method" property="shareMethod"/>
        <result column="share_condition_desc" property="shareConditionDesc"/>
        <result column="share_method_desc" property="shareMethodDesc"/>
        <result column="no_share_reason" property="noShareReason"/>
        <result column="is_open" property="isOpen"/>
        <result column="open_condition" property="openCondition"/>
        <result column="store_media" property="storeMedia"/>
        <result column="physics_store_location" property="physicsStoreLocation"/>
        <result column="code_index" property="codeIndex"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapDatasetItemVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_dataset_item t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_dataset_item t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_dataset_item t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDatasetItem">
        insert into
        drap_dataset_item(id,item_code,item_name,item_type,item_desc,belong_dept,sensitive_remark,update_frequency,share_type,share_range,share_method,share_condition_desc,share_method_desc,no_share_reason,is_open,open_condition,store_media,physics_store_location,code_index,create_user,create_time,update_user,update_time,delete_flag)
        values(
        #{id},#{itemCode},#{itemName},#{itemType},#{itemDesc},#{belongDept},#{sensitiveRemark},#{updateFrequency},#{shareType},#{shareRange},#{shareMethod},#{shareConditionDesc},#{shareMethodDesc},#{noShareReason},#{isOpen},#{openCondition},#{storeMedia},#{physicsStoreLocation},#{codeIndex},#{createUser},#{createTime},#{updateUser},#{updateTime},#{deleteFlag}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDatasetItem">
        update drap_dataset_item
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="itemCode != null">
                item_code = #{itemCode},
            </if>
            <if test="itemName != null">
                item_name = #{itemName},
            </if>
            <if test="itemType != null">
                item_type = #{itemType},
            </if>
            <if test="itemDesc != null">
                item_desc = #{itemDesc},
            </if>
            <if test="belongDept != null">
                belong_dept = #{belongDept},
            </if>
            <if test="sensitiveRemark != null">
                sensitive_remark = #{sensitiveRemark},
            </if>
            <if test="updateFrequency != null">
                update_frequency = #{updateFrequency},
            </if>
            <if test="shareType != null">
                share_type = #{shareType},
            </if>
            <if test="shareRange != null">
                share_range = #{shareRange},
            </if>
            <if test="shareMethod != null">
                share_method = #{shareMethod},
            </if>
            <if test="shareConditionDesc != null">
                share_condition_desc = #{shareConditionDesc},
            </if>
            <if test="shareMethodDesc != null">
                share_method_desc = #{shareMethodDesc},
            </if>
            <if test="noShareReason != null">
                no_share_reason = #{noShareReason},
            </if>
            <if test="isOpen != null">
                is_open = #{isOpen},
            </if>
            <if test="openCondition != null">
                open_condition = #{openCondition},
            </if>
            <if test="storeMedia != null">
                store_media = #{storeMedia},
            </if>
            <if test="physicsStoreLocation != null">
                physics_store_location = #{physicsStoreLocation},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_dataset_item
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
