<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapBusinessDocMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapBusinessDoc">
        <id column="id" property="id"/>
        <result column="region_code" property="regionCode"/>
        <result column="belong_dept" property="belongDept"/>
        <result column="source_type" property="sourceType"/>
        <result column="doc_code" property="docCode"/>
        <result column="doc_name" property="docName"/>
        <result column="doc_desc" property="docDesc"/>
        <result column="category" property="category"/>
        <result column="doc_sample" property="docSample"/>
        <result column="sync_flag" property="syncFlag"/>
        <result column="template_flag" property="templateFlag"/>
        <result column="code_index" property="codeIndex"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapBusinessDocVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_business_doc t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_business_doc t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_business_doc t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapBusinessDoc">
        insert into
        drap_business_doc(id,region_code,belong_dept,source_type,doc_code,doc_name,doc_desc,category,doc_sample,sync_flag,template_flag,code_index,status,create_user,create_time,update_user,update_time,delete_flag)
        values(
        #{id},#{regionCode},#{belongDept},#{sourceType},#{docCode},#{docName},#{docDesc},#{category},#{docSample},#{syncFlag},#{templateFlag},#{codeIndex},#{status},#{createUser},#{createTime},#{updateUser},#{updateTime},#{deleteFlag}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapBusinessDoc">
        update drap_business_doc
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="belongDept != null">
                belong_dept = #{belongDept},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType},
            </if>
            <if test="docCode != null">
                doc_code = #{docCode},
            </if>
            <if test="docName != null">
                doc_name = #{docName},
            </if>
            <if test="docDesc != null">
                doc_desc = #{docDesc},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="docSample != null">
                doc_sample = #{docSample},
            </if>
            <if test="syncFlag != null">
                sync_flag = #{syncFlag},
            </if>
            <if test="templateFlag != null">
                template_flag = #{templateFlag},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_business_doc
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
