<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapInfoSystemMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapInfoSystem">
        <id column="id" property="id"/>
        <result column="region_code" property="regionCode"/>
        <result column="source_type" property="sourceType"/>
        <result column="system_code" property="systemCode"/>
        <result column="system_name" property="systemName"/>
        <result column="system_phase" property="systemPhase"/>
        <result column="system_phase_desc" property="systemPhaseDesc"/>
        <result column="main_feature" property="mainFeature"/>
        <result column="main_data" property="mainData"/>
        <result column="enable_time" property="enableTime"/>
        <result column="disable_time" property="disableTime"/>
        <result column="system_level" property="systemLevel"/>
        <result column="belong_network" property="belongNetwork"/>
        <result column="phisical_location" property="phisicalLocation"/>
        <result column="create_dept" property="createDept"/>
        <result column="self_build_flag" property="selfBuildFlag"/>
        <result column="build_dept" property="buildDept"/>
        <result column="system_structure" property="systemStructure"/>
        <result column="login_type" property="loginType"/>
        <result column="system_usage_info" property="systemUsageInfo"/>
        <result column="system_usage_desc" property="systemUsageDesc"/>
        <result column="support_company" property="supportCompany"/>
        <result column="support_contacts" property="supportContacts"/>
        <result column="support_contacts_phone" property="supportContactsPhone"/>
        <result column="support_contacts_email" property="supportContactsEmail"/>
        <result column="support_other_contacts" property="supportOtherContacts"/>
        <result column="maintain_dept" property="maintainDept"/>
        <result column="maintain_contacts" property="maintainContacts"/>
        <result column="maintain_contacts_phone" property="maintainContactsPhone"/>
        <result column="maintain_contacts_email" property="maintainContactsEmail"/>
        <result column="maintain_other_contacts" property="maintainOtherContacts"/>
        <result column="customer_service_info" property="customerServiceInfo"/>
        <result column="data_range_begin" property="dataRangeBegin"/>
        <result column="data_range_end" property="dataRangeEnd"/>
        <result column="calculate_date" property="calculateDate"/>
        <result column="data_storage" property="dataStorage"/>
        <result column="year_increment" property="yearIncrement"/>
        <result column="visit_url" property="visitUrl"/>
        <result column="visit_username" property="visitUsername"/>
        <result column="visit_password" property="visitPassword"/>
        <result column="has_interface" property="hasInterface"/>
        <result column="is_online_external" property="isOnlineExternal"/>
        <result column="is_service_called" property="isServiceCalled"/>
        <result column="is_service_standard" property="isServiceStandard"/>
        <result column="is_export" property="isExport"/>
        <result column="has_old_system" property="hasOldSystem"/>
        <result column="old_system_name" property="oldSystemName"/>
        <result column="old_system_desc" property="oldSystemDesc"/>
        <result column="system_desc" property="systemDesc"/>
        <result column="code_index" property="codeIndex"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapInfoSystemVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_info_system t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_info_system t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_info_system t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapInfoSystem">
        insert into
        drap_info_system(id,region_code,source_type,system_code,system_name,system_phase,system_phase_desc,main_feature,main_data,enable_time,disable_time,system_level,belong_network,phisical_location,create_dept,self_build_flag,build_dept,system_structure,login_type,system_usage_info,system_usage_desc,support_company,support_contacts,support_contacts_phone,support_contacts_email,support_other_contacts,maintain_dept,maintain_contacts,maintain_contacts_phone,maintain_contacts_email,maintain_other_contacts,customer_service_info,data_range_begin,data_range_end,calculate_date,data_storage,year_increment,visit_url,visit_username,visit_password,has_interface,is_online_external,is_service_called,is_service_standard,is_export,has_old_system,old_system_name,old_system_desc,system_desc,code_index,status,create_user,create_time,update_user,update_time,delete_flag)
        values(
        #{id},#{regionCode},#{sourceType},#{systemCode},#{systemName},#{systemPhase},#{systemPhaseDesc},#{mainFeature},#{mainData},#{enableTime},#{disableTime},#{systemLevel},#{belongNetwork},#{phisicalLocation},#{createDept},#{selfBuildFlag},#{buildDept},#{systemStructure},#{loginType},#{systemUsageInfo},#{systemUsageDesc},#{supportCompany},#{supportContacts},#{supportContactsPhone},#{supportContactsEmail},#{supportOtherContacts},#{maintainDept},#{maintainContacts},#{maintainContactsPhone},#{maintainContactsEmail},#{maintainOtherContacts},#{customerServiceInfo},#{dataRangeBegin},#{dataRangeEnd},#{calculateDate},#{dataStorage},#{yearIncrement},#{visitUrl},#{visitUsername},#{visitPassword},#{hasInterface},#{isOnlineExternal},#{isServiceCalled},#{isServiceStandard},#{isExport},#{hasOldSystem},#{oldSystemName},#{oldSystemDesc},#{systemDesc},#{codeIndex},#{status},#{createUser},#{createTime},#{updateUser},#{updateTime},#{deleteFlag}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapInfoSystem">
        update drap_info_system
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType},
            </if>
            <if test="systemCode != null">
                system_code = #{systemCode},
            </if>
            <if test="systemName != null">
                system_name = #{systemName},
            </if>
            <if test="systemPhase != null">
                system_phase = #{systemPhase},
            </if>
            <if test="systemPhaseDesc != null">
                system_phase_desc = #{systemPhaseDesc},
            </if>
            <if test="mainFeature != null">
                main_feature = #{mainFeature},
            </if>
            <if test="mainData != null">
                main_data = #{mainData},
            </if>
            <if test="enableTime != null">
                enable_time = #{enableTime},
            </if>
            <if test="disableTime != null">
                disable_time = #{disableTime},
            </if>
            <if test="systemLevel != null">
                system_level = #{systemLevel},
            </if>
            <if test="belongNetwork != null">
                belong_network = #{belongNetwork},
            </if>
            <if test="phisicalLocation != null">
                phisical_location = #{phisicalLocation},
            </if>
            <if test="createDept != null">
                create_dept = #{createDept},
            </if>
            <if test="selfBuildFlag != null">
                self_build_flag = #{selfBuildFlag},
            </if>
            <if test="buildDept != null">
                build_dept = #{buildDept},
            </if>
            <if test="systemStructure != null">
                system_structure = #{systemStructure},
            </if>
            <if test="loginType != null">
                login_type = #{loginType},
            </if>
            <if test="systemUsageInfo != null">
                system_usage_info = #{systemUsageInfo},
            </if>
            <if test="systemUsageDesc != null">
                system_usage_desc = #{systemUsageDesc},
            </if>
            <if test="supportCompany != null">
                support_company = #{supportCompany},
            </if>
            <if test="supportContacts != null">
                support_contacts = #{supportContacts},
            </if>
            <if test="supportContactsPhone != null">
                support_contacts_phone = #{supportContactsPhone},
            </if>
            <if test="supportContactsEmail != null">
                support_contacts_email = #{supportContactsEmail},
            </if>
            <if test="supportOtherContacts != null">
                support_other_contacts = #{supportOtherContacts},
            </if>
            <if test="maintainDept != null">
                maintain_dept = #{maintainDept},
            </if>
            <if test="maintainContacts != null">
                maintain_contacts = #{maintainContacts},
            </if>
            <if test="maintainContactsPhone != null">
                maintain_contacts_phone = #{maintainContactsPhone},
            </if>
            <if test="maintainContactsEmail != null">
                maintain_contacts_email = #{maintainContactsEmail},
            </if>
            <if test="maintainOtherContacts != null">
                maintain_other_contacts = #{maintainOtherContacts},
            </if>
            <if test="customerServiceInfo != null">
                customer_service_info = #{customerServiceInfo},
            </if>
            <if test="dataRangeBegin != null">
                data_range_begin = #{dataRangeBegin},
            </if>
            <if test="dataRangeEnd != null">
                data_range_end = #{dataRangeEnd},
            </if>
            <if test="calculateDate != null">
                calculate_date = #{calculateDate},
            </if>
            <if test="dataStorage != null">
                data_storage = #{dataStorage},
            </if>
            <if test="yearIncrement != null">
                year_increment = #{yearIncrement},
            </if>
            <if test="visitUrl != null">
                visit_url = #{visitUrl},
            </if>
            <if test="visitUsername != null">
                visit_username = #{visitUsername},
            </if>
            <if test="visitPassword != null">
                visit_password = #{visitPassword},
            </if>
            <if test="hasInterface != null">
                has_interface = #{hasInterface},
            </if>
            <if test="isOnlineExternal != null">
                is_online_external = #{isOnlineExternal},
            </if>
            <if test="isServiceCalled != null">
                is_service_called = #{isServiceCalled},
            </if>
            <if test="isServiceStandard != null">
                is_service_standard = #{isServiceStandard},
            </if>
            <if test="isExport != null">
                is_export = #{isExport},
            </if>
            <if test="hasOldSystem != null">
                has_old_system = #{hasOldSystem},
            </if>
            <if test="oldSystemName != null">
                old_system_name = #{oldSystemName},
            </if>
            <if test="oldSystemDesc != null">
                old_system_desc = #{oldSystemDesc},
            </if>
            <if test="systemDesc != null">
                system_desc = #{systemDesc},
            </if>
            <if test="codeIndex != null">
                code_index = #{codeIndex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_info_system
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
