<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.drap.DrapSxTableFeedbackMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.drap.DrapSxTableFeedback">
        <id column="id" property="id"/>
        <result column="collection_id" property="collectionId"/>
        <result column="db_id" property="dbId"/>
        <result column="table_id" property="tableId"/>
        <result column="result_info" property="resultInfo"/>
        <result column="message_info" property="messageInfo"/>
        <result column="access_time" property="accessTime"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.drap.DrapSxTableFeedbackVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_sx_table_feedback t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM drap_sx_table_feedback t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM drap_sx_table_feedback t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapSxTableFeedback">
        insert into drap_sx_table_feedback(id,collection_id,db_id,table_id,result_info,message_info,access_time)
        values(
        #{id},#{collectionId},#{dbId},#{tableId},#{resultInfo},#{messageInfo},#{accessTime})
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.drap.DrapSxTableFeedback">
        update drap_sx_table_feedback
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="collectionId != null">
                collection_id = #{collectionId},
            </if>
            <if test="dbId != null">
                db_id = #{dbId},
            </if>
            <if test="tableId != null">
                table_id = #{tableId},
            </if>
            <if test="resultInfo != null">
                result_info = #{resultInfo},
            </if>
            <if test="messageInfo != null">
                message_info = #{messageInfo},
            </if>
            <if test="accessTime != null">
                access_time = #{accessTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from drap_sx_table_feedback
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
