<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 接口 -->

<mapper namespace="com.chinawiserv.dsp.dir.mapper.api.ApiMapper">

    <!-- 根据上级目录的ID查询子目录的数据 -->
    <select id="getSubDirectoryById" parameterType="map" resultType="map">
        SELECT * FROM dir_classify t
        WHERE TRUE
        <choose>
            <when test="null != id and ''!= id and 'root' != id">
                AND t.`fcode` IN (SELECT DISTINCT classify_code FROM dir_classify WHERE id = #{id})
            </when>
            <when test="'root' == id">
                AND t.`fcode` = 'root'
            </when>
            <otherwise>
                AND t.`fcode` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 根据数据集的ID查询数据项 -->
    <select id="getSubDataItemById" parameterType="map" resultType="map">
        SELECT * FROM dir_dataitem t
        WHERE TRUE
        <choose>
            <when test="null != datasetId and '' != datasetId">
                AND t.`dataset_id` = #{datasetId}
            </when>
            <otherwise>
                t.`dataset_id` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 查询指定目录下面的的数据集/排除自定义 -->
    <select id="getDatasetByClassifyId" parameterType="map" resultType="map">
        SELECT
        t.*
        FROM
        dir_dataset t
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`dataset_id` = t.`id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        LEFT JOIN dir_dataset_classify_map ddcm
        ON ddcm.`classify_id` = dc.`id`
        AND ddcm.`dataset_id` = t.`id`
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = t.`id`
        LEFT JOIN dir_dataitem ddm
        ON t.`id` = ddm.`dataset_id`
        WHERE TRUE
        AND t.`delete_flag` = 0
        AND ddcm.`status` = '5'
        AND ddsi.`id` IS NOT NULL
        AND ddm.`id` IS NOT NULL
        <choose>
            <when test="null != classifyId and '' != classifyId">
                AND dc.`id` = #{classifyId}
            </when>
            <otherwise>
                AND dc.`id` IS NULL
            </otherwise>
        </choose>
        <if test="null != regionCode and '' != regionCode">
            AND t.`region_code` = #{regionCode}
        </if>
        GROUP BY dcm.`id`
    </select>

    <!-- 查询指定数据集下面的数据库信息 -->
    <select id="getDbInfoByDatasetId" parameterType="map" resultType="map">
        <!--SELECT-->
        <!--ddi.`id`,-->
        <!--ddi.`db_name` AS dbName,-->
        <!--ddi.`db_cn_name` AS DB_CN_NAME,-->
        <!--ddi.`category` AS dbCategory,-->
        <!--ddi.`db_type` AS dbType,-->
        <!--ddi.`ip_address` AS ipAddress,-->
        <!--ddi.`user_name` AS userName,-->
        <!--ddi.`password`,-->
        <!--ddi.`port`,-->
        <!--ddi.`sid`,-->
        <!--ddi.`service_name` AS serviceName,-->
        <!--dd.`dataset_name` AS datasetName,-->
        <!--dis.`system_name` AS systemName,-->
        <!--dis.`build_dept` AS buildDept-->
        <!--FROM-->
        <!--drap_db_info ddi-->
        <!--LEFT JOIN drap_db_system_map dsm-->
        <!--ON dsm.`db_id` = ddi.`id`-->
        <!--LEFT JOIN drap_info_system dis-->
        <!--ON dis.`id` = dsm.`info_system_id`-->
        <!--LEFT JOIN drap_dataset_system_map dst-->
        <!--ON dst.`system_id` = dis.`id`-->
        <!--LEFT JOIN dir_dataset dd-->
        <!--ON dd.`id` = dst.`dataset_id`-->
        <!--WHERE TRUE-->
        <!--<include refid="datasetWhereClause"/>-->
        <!--GROUP BY ddi.`id`-->

        <!-- 系统梳理 -->
        SELECT
        ddi.`id`,
        ddi.`db_name` AS dbName,
        ddi.`db_cn_name` AS DB_CN_NAME,
        ddi.`category` AS dbCategory,
        ddi.`db_type` AS dbType,
        ddi.`ip_address` AS ipAddress,
        ddi.`user_name` AS userName,
        ddi.`password`,
        ddi.`port`,
        ddi.`sid`,
        ddi.`service_name` AS serviceName,
        dd.`dataset_name` AS datasetName,
        dis.`system_name` AS systemName,
        dis.`create_dept` AS buildDept
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN drap_db_info ddi
        ON ddi.`id` = sourceddti.`db_id`
        LEFT JOIN drap_db_system_map ddsm
        ON ddsm.`db_id` = ddi.`id`
        LEFT JOIN drap_info_system dis
        ON dis.`id` = ddsm.`info_system_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '2'
        AND ddi.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 资源梳理 -->
        SELECT
        ddi.`id`,
        ddi.`db_name` AS dbName,
        ddi.`db_cn_name` AS DB_CN_NAME,
        ddi.`category` AS dbCategory,
        ddi.`db_type` AS dbType,
        ddi.`ip_address` AS ipAddress,
        ddi.`user_name` AS userName,
        ddi.`password`,
        ddi.`port`,
        ddi.`sid`,
        ddi.`service_name` AS serviceName,
        dd.`dataset_name` AS datasetName,
        dis.`system_name` AS systemName,
        dis.`create_dept` AS buildDept
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_dataset sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN drap_data_column_map ddtr
        ON ddtr.`dataset_id` = sourceddti.`id`
        LEFT JOIN drap_db_info ddi
        ON ddi.`id` = ddtr.`db_id`
        LEFT JOIN drap_db_system_map ddsm
        ON ddsm.`db_id` = ddi.`id`
        LEFT JOIN drap_info_system dis
        ON dis.`id` = ddsm.`info_system_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '3'
        AND ddi.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 爬虫系统 -->
        SELECT
        ddi.`id`,
        ddi.`db_name` AS dbName,
        '' AS DB_CN_NAME,
        '1' AS dbCategory,
        ddi.`db_type` AS dbType,
        ddi.`db_ip` AS ipAddress,
        ddi.`db_user` AS userName,
        ddi.`db_pass` AS 'password',
        ddi.`db_port` AS 'port',
        '' AS sid,
        '' AS serviceName,
        dd.`dataset_name` AS datasetName,
        '' AS systemName,
        '' AS buildDept
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN cs_data_sync_collect sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN cs_data_sync_collect_db ddi
        ON ddi.`id` = sourceddti.`db_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '4'
        AND ddi.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 采集系统 -->
        SELECT
        ddi.`id`,
        ddi.`db_name` AS dbName,
        ddi.`db_name` AS DB_CN_NAME,
        '1' AS dbCategory,
        '1' AS dbType,
        ddi.`ip_addr` AS ipAddress,
        ddi.`username` AS userName,
        '' AS 'password',
        ddi.`port`,
        ddi.`sid`,
        ddi.`connect_name` AS serviceName,
        dd.`dataset_name` AS datasetName,
        '' AS systemName,
        '' AS buildDept
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dcm_table_info sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN dcm_pool_rmdb ddi
        ON ddi.`id` IS NULL
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '5'
        AND ddi.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

    </select>

    <!-- 查询指定数据集下面的数据表信息和字段关系 -->
    <select id="getTableInfoByDatasetId" parameterType="map" resultType="map">
        <!-- 系统梳理有关系 -->
        SELECT
        sourceddti.`table_name` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`column_en_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`table_name` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`column_en_name` AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        CASE WHEN ddsr.`relation_type` IS NULL THEN '=' ELSE ddsr.`relation_type` END
        AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataset_source_relation ddsr
        ON ddsr.`dataset_id` = dd.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddsr.`source_table_id`
        LEFT JOIN drap_db_table_column sourceddtc
        ON sourceddtc.`id` = ddsr.`source_column_id`
        LEFT JOIN drap_db_table_info targetddti
        ON targetddti.`id` = ddsr.`target_table_id`
        LEFT JOIN drap_db_table_column targetddtc
        ON targetddtc.`id` = ddsr.`target_column_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '2'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 资源梳理有关系 -->
        SELECT
        sourceddti.`table_name` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`column_en_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`table_name` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`column_en_name` AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        CASE WHEN ddtr.`relation_type` IS NULL THEN '=' ELSE ddtr.`relation_type` END
        AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_dataset ddt
        ON ddt.`id` = ddsi.`source_obj_id`
        LEFT JOIN drap_dataset_table_relation ddtr
        ON ddtr.`dataset_id` = ddt.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddtr.`source_table`
        LEFT JOIN drap_db_table_info targetddti
        ON targetddti.`id` = ddtr.`target_table`
        LEFT JOIN drap_db_table_column sourceddtc
        ON sourceddtc.`id` = ddtr.`source_column`
        LEFT JOIN drap_db_table_column targetddtc
        ON targetddtc.`id` = ddtr.`target_column`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '3'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 爬虫系统有关系 -->
        SELECT
        sourceddti.`table_name` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`cloumn_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`table_name` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`cloumn_name`AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        CASE WHEN ddsr.`relation_type` IS NULL THEN '=' ELSE ddsr.`relation_type` END
        AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataset_source_relation ddsr
        ON ddsr.`dataset_id` = dd.`id`
        LEFT JOIN cs_data_sync_collect sourceddti
        ON sourceddti.`id` = ddsr.`source_table_id`
        LEFT JOIN cs_data_sync_collect_column sourceddtc
        ON sourceddtc.`id` = ddsr.`source_column_id`
        LEFT JOIN cs_data_sync_collect targetddti
        ON targetddti.`id` = ddsr.`target_table_id`
        LEFT JOIN cs_data_sync_collect_column targetddtc
        ON targetddtc.`id` = ddsr.`target_column_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '4'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 采集系统有关系 -->
        SELECT
        sourceddti.`target_obj_code` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`column_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`target_obj_code` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`column_name` AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        CASE WHEN ddsr.`relation_type` IS NULL THEN '=' ELSE ddsr.`relation_type` END
        AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataset_source_relation ddsr
        ON ddsr.`dataset_id` = dd.`id`
        LEFT JOIN dcm_table_info sourceddti
        ON sourceddti.`id` = ddsr.`source_table_id`
        LEFT JOIN dcm_table_column sourceddtc
        ON sourceddtc.`id` = ddsr.`source_column_id`
        LEFT JOIN dcm_table_info targetddti
        ON targetddti.`id` = ddsr.`target_table_id`
        LEFT JOIN dcm_table_column targetddtc
        ON targetddtc.`id` = ddsr.`target_column_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '5'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

    </select>

    <!-- 查询指定数据表下面的字段信息 -->
    <select id="getColumnInfoByTableId" parameterType="map" resultType="map">
        SELECT
          ddtc.`id` AS columnId,
          ddtc.`column_en_name` AS columnName,
          ddtc.`column_cn_name` AS columnCnName,
          ddtc.`column_desc` AS columnDesc
        FROM
          drap_db_table_column ddtc
        WHERE TRUE
        <choose>
            <when test="null != tableId and '' != tableId">
                AND ddtc.`table_id` = #{tableId}
            </when>
            <otherwise>
                AND ddtc.`table_id` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 同步目录数据 -->
    <select id="syncClassifyData" parameterType="map" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        SELECT * FROM dir_classify
    </select>

    <!-- 同步部门数据 -->
    <select id="syncDeptData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDept">
        SELECT * FROM sys_dept
    </select>

    <!-- 同步用户数据 -->
    <select id="syncUserData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysUser">
        SELECT * FROM sys_user
    </select>

    <!-- 同步字典数据 -->
    <select id="syncSysDictData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDict">
        SELECT * FROM sys_dict
    </select>

    <!-- 同步行政区域数据 -->
    <select id="syncSysRegionData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysRegion">
        SELECT * FROM sys_region
    </select>

    <!-- 同步行政区域级别数据 -->
    <select id="syncSysRegionLevelData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysRegionLevel">
        SELECT * FROM sys_region_level
    </select>

    <!-- 同步部门权限分配信息 -->
    <select id="syncSysDeptAuthorityData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDeptAuthority">
        SELECT * FROM sys_dept_authority
    </select>

    <!-- 同步部门权限分配信息 -->
    <select id="syncSysDeptAuthorityApplyData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDeptAuthorityApply">
        SELECT * FROM sys_dept_authority_apply
    </select>

    <!-- 根据系统ID查询数据库信息 -->
    <select id="getDbInfoBySystemId" parameterType="map" resultType="map">
        SELECT
        ddi.`id`,
        ddi.`db_name` AS dbName,
        ddi.`db_cn_name` AS DB_CN_NAME,
        ddi.`category` AS category,
        ddi.`db_type` AS dbType,
        ddi.`ip_address` AS ipAddress,
        ddi.`user_name` AS userName,
        ddi.`password`,
        ddi.`port`,
        ddi.`sid`,
        ddi.`service_name` AS serviceName,
        dis.`system_name` AS systemName
        FROM
        drap_db_info ddi
        LEFT JOIN drap_db_system_map dsm
        ON dsm.`db_id` = ddi.`id`
        LEFT JOIN drap_info_system dis
        ON dis.`id` = dsm.`info_system_id`
        WHERE TRUE
        AND ddi.`delete_flag` = 0
        <choose>
            <when test="null != systemId and '' != systemId">
               AND dis.`id` = #{systemId}
            </when>
            <otherwise>
               AND dis.`id` IS NULL
            </otherwise>
        </choose>
    </select>

    <select id="getSystemInfoByDeptId" parameterType="map" resultType="map">
        SELECT
        dis.id,
        dis.`system_name` AS systemName,
        dis.`build_dept` AS buildDept
        FROM
        drap_info_system dis
        LEFT JOIN drap_system_use_dept dsud ON dsud.`system_id` = dis.`id`
        LEFT JOIN sys_dept sd ON sd.`id` = dsud.`dept_id`
        WHERE TRUE
        AND dis.`delete_flag` = 0
        <choose>
            <when test="null != deptId and '' != deptId">
                AND dis.`create_dept` = #{deptId}
            </when>
            <otherwise>
                AND dis.`create_dept` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 查询用户的数据集权限 -->
    <select id="getDataAuthorityByUserId" parameterType="map" resultType="map">
        SELECT
          a.*
        FROM
          (SELECT
            dda.`id` AS dataApplyId,
            dda.`audit_visit_cnt` AS limitVisitCnt,
            dda.`audit_visit_date_period` AS limitVisitDatePeriod,
            CASE
              WHEN dda.`status` = '1'
              THEN 'true'
              ELSE 'false'
            END AS 'status'
          FROM
            dir_data_apply dda
            LEFT JOIN dir_dataset_classify_map dcm
              ON dcm.`id` = dda.`dcm_id`
          WHERE TRUE
            AND dda.`applicant_id` = #{userId}
            AND dcm.`id` =  #{dcmId}
          UNION
          ALL
          SELECT
            NULL AS dataApplyId,
            NULL AS limitVisitCnt,
            NULL AS limitVisitDatePeriod,
            CASE
              WHEN dd.`share_type` = '0'
              THEN 'true'
              ELSE 'false'
            END AS 'status'
          FROM
            dir_dataset_classify_map dcm
            LEFT JOIN dir_dataset dd
              ON dd.`id` = dcm.`dataset_id`
          WHERE TRUE
            AND dcm.`id` =  #{dcmId}) a
        LIMIT 0, 1
    </select>

    <!-- 查询用户申请的数据集拥有的数据字段 -->
    <select id="getDataitemAuthorityByUserIdAndDatasetId" parameterType="map" resultType="map">
        <!-- 系统梳理有条件共享 -->

        SELECT
          dti.`table_name` AS tableName,
          dtc.`column_en_name` AS columnName
        FROM
          dir_data_item_apply dia
          LEFT JOIN dir_data_apply dda
            ON dda.`id` = dia.`data_apply_id`
          LEFT JOIN dir_dataset_classify_map ddcm
            ON ddcm.`id` = dda.`dcm_id`
          LEFT JOIN dir_dataset dd
            ON dd.`id` = ddcm.`dataset_id`
          LEFT JOIN dir_dataitem_source_info dsi
            ON dsi.`item_id` = dia.`item_id`
          LEFT JOIN drap_db_table_column dtc
            ON dtc.`id` = dsi.`source_obj_id`
          LEFT JOIN drap_db_table_info dti
            ON dti.`id` = dtc.`table_id`
          LEFT JOIN
            (SELECT
              *
            FROM
              sys_dict
            WHERE category = 'dataSetSourceType') sd
            ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
          AND dd.`delete_flag` = 0
          AND sd.`dict_code` = '2'
          AND dia.`status` = '1'
          AND dtc.`id` IS NOT NULL
          <include refid = "datasetApplyWhereClause"/>
          GROUP BY dtc.`id`

        UNION ALL

        <!-- 系统梳理无条件共享 -->

        SELECT
        dti.`table_name` AS tableName,
        dtc.`column_en_name` AS columnName
        FROM
        dir_dataset_classify_map ddcm
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem ddm
        ON ddm.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = ddm.`id`
        LEFT JOIN drap_db_table_column dtc
        ON dtc.`id` = dsi.`source_obj_id`
        LEFT JOIN drap_db_table_info dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '2'
        AND ddm.`share_type` = '0'
        AND dtc.`id` IS NOT NULL
        AND ddcm.`id` = #{dcmId}
        GROUP BY dtc.`id`

        UNION ALL

        <!-- 资源梳理 -->

        SELECT
          dti.`table_name` AS tableName,
          dtc.`column_en_name` AS columnName
        FROM
          dir_data_item_apply dia
          LEFT JOIN dir_data_apply dda
            ON dda.`id` = dia.`data_apply_id`
          LEFT JOIN dir_dataset_classify_map ddcm
            ON ddcm.`id` = dda.`dcm_id`
          LEFT JOIN dir_dataset dd
            ON dd.`id` = ddcm.`dataset_id`
          LEFT JOIN dir_dataitem_source_info dsi
            ON dsi.`item_id` = dia.`item_id`
          LEFT JOIN drap_dataset_item ddi
            ON ddi.`id` = dsi.`source_obj_id`
          LEFT JOIN drap_data_column_map dcm
            ON dcm.`business_item_id` = ddi.`id`
          LEFT JOIN drap_db_table_column dtc
            ON dtc.`id` = dcm.`system_column_id`
          LEFT JOIN drap_db_table_info dti
            ON dti.`id` = dtc.`table_id`
          LEFT JOIN
            (SELECT
              *
            FROM
              sys_dict
            WHERE category = 'dataSetSourceType') sd
            ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
          AND dd.`delete_flag` = 0
          AND sd.`dict_code` = '3'
          AND dia.`status` = '1'
          AND dtc.`id` IS NOT NULL
          <include refid = "datasetApplyWhereClause"/>
          GROUP BY dtc.`id`

        UNION ALL

        <!-- 资源梳理无条件共享 -->

        SELECT
        dti.`table_name` AS tableName,
        dtc.`column_en_name` AS columnName
        FROM
        dir_dataset_classify_map ddcm
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem ddm
        ON ddm.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = ddm.`id`
        LEFT JOIN drap_dataset_item ddi
        ON ddi.`id` = dsi.`source_obj_id`
        LEFT JOIN drap_data_column_map dcm
        ON dcm.`business_item_id` = ddi.`id`
        LEFT JOIN drap_db_table_column dtc
        ON dtc.`id` = dcm.`system_column_id`
        LEFT JOIN drap_db_table_info dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '3'
        AND ddm.`share_type` = '0'
        AND dtc.`id` IS NOT NULL
        AND ddcm.`id` = #{dcmId}
        GROUP BY dtc.`id`

        UNION ALL

        <!-- 爬虫系统有条件共享 -->
        SELECT
        dti.`table_name` AS tableName,
        dtc.`cloumn_name` AS columnName
        FROM
        dir_data_item_apply dia
        LEFT JOIN dir_data_apply dda
        ON dda.`id` = dia.`data_apply_id`
        LEFT JOIN dir_dataset_classify_map ddcm
        ON ddcm.`id` = dda.`dcm_id`
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = dia.`item_id`
        LEFT JOIN cs_data_sync_collect_column dtc
        ON dtc.`id` = dsi.`source_obj_id`
        LEFT JOIN cs_data_sync_collect dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '4'
        AND dia.`status` = '1'
        AND dtc.`id` IS NOT NULL
        <include refid = "datasetApplyWhereClause"/>
        GROUP BY dtc.`id`

        UNION ALL

        <!-- 爬虫无条件共享 -->

        SELECT
        dti.`table_name` AS tableName,
        dtc.`cloumn_name` AS columnName
        FROM
        dir_dataset_classify_map ddcm
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem ddm
        ON ddm.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = ddm.`id`
        LEFT JOIN cs_data_sync_collect_column dtc
        ON dtc.`id` = dsi.`source_obj_id`
        LEFT JOIN cs_data_sync_collect dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '4'
        AND ddm.`share_type` = '0'
        AND dtc.`id` IS NOT NULL
        AND ddcm.`id` = #{dcmId}
        GROUP BY dtc.`id`

        UNION ALL

        <!-- 采集系统 -->
        SELECT
        dti.`target_obj_code` AS tableName,
        dtc.`column_name` AS columnName
        FROM
        dir_data_item_apply dia
        LEFT JOIN dir_data_apply dda
        ON dda.`id` = dia.`data_apply_id`
        LEFT JOIN dir_dataset_classify_map ddcm
        ON ddcm.`id` = dda.`dcm_id`
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = dia.`item_id`
        LEFT JOIN dcm_table_column dtc
        ON dtc.`id` = dsi.`source_obj_id`
        LEFT JOIN dcm_table_info dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '5'
        AND dia.`status` = '1'
        AND dtc.`id` IS NOT NULL
        <include refid = "datasetApplyWhereClause"/>
        GROUP BY dtc.`id`

        UNION ALL

        <!-- 采集系统无条件 -->

        SELECT
        dti.`target_obj_code` AS tableName,
        dtc.`column_name` AS columnName
        FROM
        dir_dataset_classify_map ddcm
        LEFT JOIN dir_dataset dd
        ON dd.`id` = ddcm.`dataset_id`
        LEFT JOIN dir_dataitem ddm
        ON ddm.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataitem_source_info dsi
        ON dsi.`item_id` = ddm.`id`
        LEFT JOIN dcm_table_column dtc
        ON dtc.`id` = dsi.`source_obj_id`
        LEFT JOIN dcm_table_info dti
        ON dti.`id` = dtc.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '5'
        AND ddm.`share_type` = '0'
        AND dtc.`id` IS NOT NULL
        AND ddcm.`id` = #{dcmId}
        GROUP BY dtc.`id`


    </select>

    <select id="getTableInfoBySystemIdAndDbId" parameterType="map" resultType="com.chinawiserv.dsp.dir.entity.po.drap.DrapDbTableInfo">
        SELECT
          ddti.*
        FROM
          drap_db_table_info ddti
          LEFT JOIN drap_db_system_map ddsm
            ON ddsm.`db_id` = ddti.`db_id`
        WHERE TRUE
           AND ddti.`delete_flag` = 0
           AND ddti.`db_id` = #{dbId}
           AND ddsm.`info_system_id` = #{systemId}
           AND ddti.`table_name` = #{tableName}
           OR ddti.`table_cn_name` = #{tableName}
    </select>

    <select id="getTableInfoWithoutRelationByDatasetId" parameterType="map" resultType="map">
        <!-- 系统梳理无关系 -->
        SELECT
        sourceddti.`table_name` AS tableName,
        sourceddti.`id` AS tableId
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '2'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 资源梳理无关系 -->
        SELECT
        sourceddti.`table_name` AS tableName,
        sourceddti.`id` AS tableId
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_dataset ddt
        ON ddt.`id` = ddsi.`source_obj_id`
        LEFT JOIN drap_data_column_map ddtr
        ON ddtr.`dataset_id` = ddt.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddtr.`table_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '3'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 爬虫系统无关系 -->
        SELECT
        sourceddti.`table_name` AS tableName,
        sourceddti.`id` AS tableId
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN cs_data_sync_collect sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '4'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        <!-- 采集系统无关系 -->
        SELECT
        sourceddti.`target_obj_code` AS tableName,
        sourceddti.`id` AS tableId
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dcm_table_info sourceddti
        ON sourceddti.`id` = ddsi.`source_obj_id`
        LEFT JOIN
        (SELECT
        *
        FROM
        sys_dict
        WHERE category = 'dataSetSourceType') sd
        ON sd.`dict_code` = dd.`source_type`
        WHERE TRUE
        AND dd.`delete_flag` = 0
        AND sd.`dict_code` = '5'
        AND sourceddti.`id` IS NOT NULL
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

    </select>

    <sql id="datasetApplyWhereClause">
        <choose>
            <when test="null != dataApplyId and '' != dataApplyId">
                AND dia.`data_apply_id` = #{dataApplyId}
            </when>
            <otherwise>
                AND dia.`data_apply_id` IS NULL
            </otherwise>
        </choose>
    </sql>

    <sql id="datasetWhereClause">
        <choose>
            <when test="null != datasetId and '' != datasetId">
                AND dd.`id` = #{datasetId}
            </when>
            <otherwise>
                AND dd.`id` IS NULL
            </otherwise>
        </choose>
    </sql>


</mapper>