<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 接口 -->

<mapper namespace="com.chinawiserv.dsp.dir.mapper.api.ApiMapper">

    <select id="test" parameterType="map" resultType="map">
        SELECT REPLACE(UUID(),'-','') AS uuid;
    </select>

    <!-- 根据上级目录的ID查询子目录的数据 -->
    <select id="getSubDirectoryById" parameterType="map" resultType="map">
        SELECT * FROM dir_classify t
        WHERE TRUE
        <choose>
            <when test="null != id and ''!= id and 'root' != id">
                AND t.`fcode` IN (SELECT DISTINCT classify_code FROM dir_classify WHERE id = #{id})
            </when>
            <when test="'root' == id">
                AND t.`fcode` = 'root'
            </when>
            <otherwise>
                AND t.`fcode` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 根据数据集的ID查询数据项 -->
    <select id="getSubDataItemById" parameterType="map" resultType="map">
        SELECT * FROM dir_dataitem t
        WHERE TRUE
        <choose>
            <when test="null != datasetId and '' != datasetId">
                AND t.`dataset_id` = #{datasetId}
            </when>
            <otherwise>
                t.`dataset_id` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 查询指定目录下面的的数据集 -->
    <select id="getDatasetByClassifyId" parameterType="map" resultType="map">
        SELECT
        t.*
        FROM
        dir_dataset t
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`dataset_id` = t.`id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        WHERE TRUE
        <choose>
            <when test="null != classifyId and '' != classifyId">
                AND dc.`id` = #{classifyId}
            </when>
            <otherwise>
                AND dc.`id` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 查询指定数据集下面的数据库信息 -->
    <select id="getDbInfoByDatasetId" parameterType="map" resultType="map">
        SELECT
        ddi.`db_name` AS dbName,
        ddi.`db_cn_name` AS DB_CN_NAME,
        ddi.`db_type` AS dbType,
        ddi.`ip_address` AS ipAddress,
        ddi.`user_name` AS userName,
        ddi.`password`,
        ddi.`port`,
        ddi.`sid`,
        ddi.`service_name` AS serviceName,
        dd.`dataset_name` AS datasetName,
        dis.`system_name` AS systemName,
        dis.`build_dept` AS buildDept
        FROM
        drap_db_info ddi
        LEFT JOIN drap_db_system_map dsm
        ON dsm.`db_id` = ddi.`id`
        LEFT JOIN drap_info_system dis
        ON dis.`id` = dsm.`info_system_id`
        LEFT JOIN drap_dataset_system_map dst
        ON dst.`system_id` = dis.`id`
        LEFT JOIN dir_dataset dd
        ON dd.`id` = dst.`dataset_id`
        WHERE TRUE
        <include refid="datasetWhereClause"/>
    </select>

    <!-- 查询指定数据集下面的数据表信息和字段关系 -->
    <select id="getTableInfoByDatasetId" parameterType="map" resultType="map">
        SELECT
        sourceddti.`table_name` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`column_en_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`table_name` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`column_en_name` AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        ddsr.`relation_type` AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN dir_dataset_source_relation ddsr
        ON ddsr.`dataset_id` = dd.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddsr.`source_table_id`
        LEFT JOIN drap_db_table_column sourceddtc
        ON sourceddtc.`id` = ddsr.`source_column_id`
        LEFT JOIN drap_db_table_info targetddti
        ON targetddti.`id` = ddsr.`target_table_id`
        LEFT JOIN drap_db_table_column targetddtc
        ON targetddtc.`id` = ddsr.`target_column_id`
        WHERE ddsi.`source_mode` = 'table'
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

        UNION ALL

        SELECT
        sourceddti.`table_name` AS sourceTableName,
        sourceddti.`id` AS sourceTableId,
        sourceddtc.`column_en_name` AS sourceColumnName,
        sourceddtc.`id` AS sourceColumnId,
        targetddti.`table_name` AS targetTableName,
        targetddti.`id` AS targetTableId,
        targetddtc.`column_en_name` AS targetColumnName,
        targetddtc.`id` AS targetColumnId,
        ddtr.`relation_type` AS relationType
        FROM
        dir_dataset dd
        LEFT JOIN dir_dataset_source_info ddsi
        ON ddsi.`dataset_id` = dd.`id`
        LEFT JOIN drap_dataset ddt
        ON ddt.`id` = ddsi.`source_obj_id`
        LEFT JOIN drap_dataset_table_relation ddtr
        ON ddtr.`dataset_id` = ddt.`id`
        LEFT JOIN drap_db_table_info sourceddti
        ON sourceddti.`id` = ddtr.`source_table`
        LEFT JOIN drap_db_table_info targetddti
        ON targetddti.`id` = ddtr.`target_table`
        LEFT JOIN drap_db_table_column sourceddtc
        ON sourceddtc.`id` = ddtr.`source_column`
        LEFT JOIN drap_db_table_column targetddtc
        ON targetddtc.`id` = ddtr.`target_column`
        WHERE ddsi.`source_mode` = 'source'
        <include refid="datasetWhereClause"/>
        GROUP BY dd.`id`

    </select>

    <!-- 查询指定数据表下面的字段信息 -->
    <select id="getColumnInfoByTableId" parameterType="map" resultType="map">
        SELECT
          ddtc.`id` AS columnId,
          ddtc.`column_en_name` AS columnName,
          ddtc.`column_cn_name` AS columnCnName,
          ddtc.`column_desc` AS columnDesc
        FROM
          drap_db_table_column ddtc
        WHERE TRUE
        <choose>
            <when test="null != tableId and '' != tableId">
                AND ddtc.`table_id` = #{tableId}
            </when>
            <otherwise>
                AND ddtc.`table_id` IS NULL
            </otherwise>
        </choose>
    </select>

    <!-- 同步目录数据 -->
    <select id="syncClassifyData" parameterType="map" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        SELECT * FROM dir_classify
    </select>

    <!-- 同步部门数据 -->
    <select id="syncDeptData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDept">
        SELECT * FROM sys_dept
    </select>

    <!-- 同步用户数据 -->
    <select id="syncUserData" parameterType="map" resultType="com.chinawiserv.dsp.base.entity.po.system.SysUser">
        SELECT * FROM sys_user
    </select>

    <!-- 根据系统ID查询数据库信息 -->
    <select id="getDbInfoBySystemId" parameterType="map" resultType="map">
        SELECT
        ddi.`db_name` AS dbName,
        ddi.`db_cn_name` AS DB_CN_NAME,
        ddi.`db_type` AS dbType,
        ddi.`ip_address` AS ipAddress,
        ddi.`user_name` AS userName,
        ddi.`password`,
        ddi.`port`,
        ddi.`sid`,
        ddi.`service_name` AS serviceName,
        dis.`system_name` AS systemName
        FROM
        drap_db_info ddi
        LEFT JOIN drap_db_system_map dsm
        ON dsm.`db_id` = ddi.`id`
        LEFT JOIN drap_info_system dis
        ON dis.`id` = dsm.`info_system_id`
        WHERE TRUE
        <choose>
            <when test="null != systemId and '' != systemId">
               AND dis.`id` = #{systemId}
            </when>
            <otherwise>
               AND dis.`id` IS NULL
            </otherwise>
        </choose>
    </select>

    <select id="getSystemInfoByDeptId" parameterType="map" resultType="map">
        SELECT
        dis.id,
        dis.`system_name` AS systemName,
        dis.`build_dept` AS buildDept
        FROM
        drap_info_system dis
        LEFT JOIN drap_system_use_dept dsud ON dsud.`system_id` = dis.`id`
        LEFT JOIN sys_dept sd ON sd.`id` = dsud.`dept_id`
        WHERE TRUE
        <choose>
            <when test="null != deptId and '' != deptId">
               AND dsud.`dept_id` = #{deptId}
            </when>
            <otherwise>
               AND dsud.`dept_id` IS NULL
            </otherwise>
        </choose>
    </select>


    <sql id="datasetWhereClause">
        <choose>
            <when test="null != datasetId and '' != datasetId">
                AND dd.`id` = #{datasetId}
            </when>
            <otherwise>
                AND dd.`id` IS NULL
            </otherwise>
        </choose>
    </sql>


</mapper>