<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.base.mapper.system.SysDeptMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<!--<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.base.entity.po.system.SysDept">
		<id column="id" property="id" />
		<result column="dept_type" property="deptType" />
		<result column="dept_name" property="deptName" />
		<result column="dept_alias" property="deptAlias" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_contact_man" property="deptContactMan" />
		<result column="dept_contact_num" property="deptContactNum" />
		<result column="dept_address" property="deptAddress" />
		<result column="dept_desc" property="deptDesc" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="pid" property="pid" />
		<result column="status" property="status" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>

	<resultMap id="SysDeptVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">

	</resultMap>-->

	<sql id="queryConditions">
		<where>
			t.delete_flag = '0'
			<if test="id != null">
				AND t.id = #{id}
			</if>
			<if test="fid != null">
				AND t.fid = #{fid}
			</if>
			<if test="regionCode != null">
				AND t.region_code = #{regionCode}
			</if>
			<if test="treeCode != null">
				AND t.tree_code = #{treeCode}
			</if>
			<if test="onlyRoot != null and onlyRoot == '1'.toString()">
				AND t.fid = 'root'
			</if>
			<if test="excludeRoot != null and excludeRoot == '1'.toString()">
				AND t.fid != 'root'
			</if>
			<if test="searchKey != null">
				AND t.dept_name LIKE concat(concat('%', #{searchKey}), '%')
			</if>
			<if test="deptName != null">
				AND t.dept_name = #{deptName}
			</if>
			<if test="fName != null">
				AND t.fname = #{fName}
			</if>
			<if test="deptLevel != null">
				AND t.dept_level = #{deptLevel}
			</if>
			<if test="hasChildrenTopDept != null and hasChildrenTopDept == '1'.toString()">
				AND t.dept_level = '1'
				AND t.isLeaf = '0'
			</if>
			<if test="deptTreeCodeCondition != null">
                AND (t.tree_code=#{deptTreeCodeCondition} or t.tree_code like concat(#{deptTreeCodeCondition},';%'))
			</if>
			<if test="regionCodeCondition != null">
				AND t.region_code like '${regionCodeCondition}%'
			</if>
			<if test="withoutDept != null">
				AND t.id != #{withoutDept}
			</if>
			<if test="withoutAuthDept != null and withoutAuthDept == '1'.toString() and applicant != null">
				AND t.id NOT IN
				(
					SELECT da.to_dept_id FROM sys_dept_authority_apply da
					WHERE da.applicant = #{applicant} AND da.audit_status != '2'
				)
			</if>
			<if test="ids != null">
				AND
				(
					t.id IN
					<foreach collection="ids" open="(" close=")" item="item" separator=",">
						#{item, jdbcType=VARCHAR}
					</foreach>
				)
			</if>
		</where>
	</sql>

	<sql id="queryConditionsWithRegion">
		<include refid="queryConditions"></include>
		<if test="regionName != null">
			AND r.region_name LIKE concat(concat('%', #{regionName}), '%')
		</if>
	</sql>


	<sql id="queryConditions1">
		<where>
			t.delete_flag = '0'
			<if test="withoutDept != null">
				AND t.id != #{withoutDept}
			</if>
			<if test="withoutAuthDept != null and withoutAuthDept == '1'.toString() and applicant != null">
				AND t.id NOT IN
				(
				SELECT da.to_dept_id FROM sys_dept_authority_apply da
				WHERE da.applicant = #{applicant} AND da.audit_status != '2'
				)
			</if>
		</where>
	</sql>

	<!--<sql id="baseSelectVo1">-->
		<!--SELECT t.*,r.region_name,CASE WHEN d.dept_id IS NULL THEN '0' ELSE '1' END AS isSync FROM sys_dept t-->
		<!--LEFT JOIN sys_region r ON t.region_code = r.region_code-->
		<!--left join dir_classify_dept_map d on t.id = d.dept_id-->
	<!--</sql>-->
	<sql id="selectVoWithRegion">
		SELECT t.*,r.region_name,(SELECT COUNT(1) FROM sys_dept WHERE fid=t.id) as cNum FROM sys_dept t
		LEFT JOIN sys_region r ON t.region_code = r.region_code
	</sql>

	<select id="selectVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		<include refid="selectVoWithRegion"></include>
		<include refid="queryConditionsWithRegion"></include>
	</select>

    <select id="selectSubVoList" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
        SELECT t.*,CASE WHEN f.dcode IS NULL THEN '0' ELSE '1' END AS hasLeaf
        FROM sys_dept t
        LEFT JOIN (SELECT DISTINCT(fid) AS dcode FROM sys_dept where delete_flag=0) f on t.id=f.dcode
        where t.fid=#{fid, jdbcType=VARCHAR}
    </select>

	<select id="selectBaseVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t
		<include refid="queryConditions"></include>
	</select>

    <select id="selectBelongTypeByDept" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT a.id AS deptId,a.dept_name AS deptName,b.id AS subDeptId,b.dept_name AS subDeptName FROM
        (
        SELECT id,dept_name,tree_code FROM sys_dept
        WHERE dept_level=2 AND LOCATE(CONCAT(tree_code,';'),(SELECT  CONCAT(t1.tree_code,';') FROM sys_dept t1 WHERE t1.id = #{deptId,jdbcType=VARCHAR})) = 1
        ) a
        LEFT JOIN
        (
        SELECT id,dept_name,tree_code FROM sys_dept t WHERE id=#{deptId,jdbcType=VARCHAR} AND dept_level>2
        ) b
        ON  LOCATE(CONCAT(a.tree_code,';'),b.tree_code) = 1

    </select>


	<!--目录同步功能  非目录请注释 start -->
	<sql id="selectVoWithDirMap">
		SELECT t.*, d.dept_id AS isSync FROM sys_dept t
		left join dir_classify_dept_map d on t.id = d.dept_id
	</sql>
	<select id="selectSynVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		<include refid="selectVoWithDirMap"></include>
		<include refid="queryConditions"></include>
	</select>

	<!--目录同步功能  非目录请注释 end -->
	<!-- 用 SELECT t.* FROM sys_dept t 替换掉下面 <include refid="baseSelectVo1"></include>-->
	<select id="selectVoById" parameterType="java.lang.String" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t
		WHERE t.delete_flag = '0' AND t.id = #{id}
	</select>

	<select id="selectVoByTreeCode" parameterType="java.lang.String" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t
		WHERE t.delete_flag = '0' AND t.tree_code = #{id}
	</select>

	<select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(1) FROM sys_dept t  LEFT JOIN sys_region r on t.region_code = r.region_code
		<include refid="queryConditionsWithRegion"></include>
	</select>
	<select id="selectBaseVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(1) FROM sys_dept t
		<include refid="queryConditions"></include>
	</select>
	<!--与目录相关sql  非目录请注释-->
	<select id="selectVoList" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.*,r.region_name,CASE WHEN d.dept_id IS NULL THEN '0' ELSE '1' END AS isSync FROM sys_dept t
		LEFT JOIN sys_region r ON t.region_code = r.region_code
		left join dir_classify_dept_map d on t.id = d.dept_id
		<include refid="queryConditions"></include>
	</select>

	<select id="selectVoListForTreeData" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo" useCache="false">
		SELECT t.* FROM (
			SELECT t.*,r.region_name,CASE WHEN dcode IS NULL THEN '1' ELSE '0' END AS isLeaf
			FROM sys_dept t
			LEFT JOIN sys_region r ON t.region_code = r.region_code
			LEFT JOIN (SELECT DISTINCT(t.fid) AS dcode FROM sys_dept t <include refid="queryConditions1"></include>) b ON t.id=b.dcode
		) t
		<include refid="queryConditions"></include>
		ORDER BY
		t.order_number,t.dept_code
	</select>

	<select id="isParentDept" parameterType="java.lang.String" resultType="java.lang.Boolean">
		SELECT count(1) from sys_dept t WHERE t.delete_flag = '0' AND t.fid = #{id}
	</select>

	<select id="selectDeptListLikeTreeCode" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT * FROM sys_dept WHERE TRUE
		<if test="allRegionCode != null ">
			AND region_code IN (${allRegionCode})
		</if>
		<if test="treeCodes != null ">
		  AND (
			<foreach collection="treeCodes" item="item" separator=" OR ">
				(tree_code = #{item} OR tree_code LIKE CONCAT(#{item},';%'))
			</foreach>
			  )
		</if>
		GROUP BY sys_dept.id
		ORDER BY
		order_number,dept_code
	</select>
	<select id="selectDeptByPrivilege" resultType="java.lang.String">
		SELECT
			sd.tree_code
		FROM
			sys_dept sd
		LEFT JOIN sys_dept_authority sda ON sd.id = sda.dept_id
		LEFT JOIN sys_user su ON (sda.auth_obj_id = su.id OR sda.auth_obj_id = su.dept_id)
		WHERE
			su.id = #{user_id}
		GROUP BY
			sd.tree_code
	</select>

	<update id="deleteBatchDeptByIds" parameterType="java.util.List">
		UPDATE sys_dept SET delete_flag = '1' WHERE id IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<select id="listBySystemId" parameterType="java.lang.String" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDept">
		SELECT t.* FROM sys_dept t
-- 		WHERE
	</select>
	<select id="listByList" parameterType="java.util.List" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDept">
		SELECT t.* FROM sys_dept t WHERE id IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="listIdsByList" parameterType="java.util.List" resultType="java.lang.String">
		SELECT t.id FROM sys_dept t WHERE id IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<insert id="batchInsert" parameterType="java.util.List">
		insert into sys_dept(
		id,
		region_code,
		dept_type,
		dept_code,
		dept_name,
		dept_short_name,
		fid,
		fname,
		dept_structure_name,
		dept_level,
		dept_function,
		order_number,
		delete_flag,
		tree_index,
		tree_code
		)

		VALUES
		<foreach collection="list" item="item" index="index"  separator="," >
			(#{item.id},
			#{item.regionCode},
			#{item.deptType},
			#{item.deptCode},
			#{item.deptName},
			#{item.deptShortName},
			#{item.fid},
			#{item.fname},
			#{item.deptStructureName},
			#{item.deptLevel},
			#{item.deptFunction},
			#{item.orderNumber},
			#{item.deleteFlag},
			#{item.treeIndex},
			#{item.treeCode})

		</foreach>
	</insert>



</mapper>
