<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.base.mapper.system.SysDeptMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<!--<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.base.entity.po.system.SysDept">
		<id column="id" property="id" />
		<result column="dept_type" property="deptType" />
		<result column="dept_name" property="deptName" />
		<result column="dept_alias" property="deptAlias" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_contact_man" property="deptContactMan" />
		<result column="dept_contact_num" property="deptContactNum" />
		<result column="dept_address" property="deptAddress" />
		<result column="dept_desc" property="deptDesc" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="pid" property="pid" />
		<result column="status" property="status" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>

	<resultMap id="SysDeptVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">

	</resultMap>-->

	<sql id="queryConditions">
		<where>
			t.delete_flag = '0'
			<if test="onlyRoot != null and onlyRoot == '1'">
				AND t.fid == 'root'
			</if>
			<if test="excludeRoot != null and excludeRoot == '0'">
				AND t.fid != 'root'
			</if>
			<if test="searchKey != null">
				AND t.dept_name LIKE concat(concat('%', #{searchKey}), '%')
			</if>
			<if test="deptTreeCodeCondition != null">
				AND t.tree_code like '${deptTreeCodeCondition}%'
			</if>
			<if test="regionCodeCondition != null">
				AND t.region_code like '${regionCodeCondition}%'
			</if>
		</where>
	</sql>

	<select id="selectVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t <include refid="queryConditions"></include>
	</select>

	<select id="selectVoById" parameterType="java.lang.String" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t WHERE t.delete_flag = '0' AND t.id = #{id}
	</select>

	<select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT count(1) FROM sys_dept t <include refid="queryConditions"></include>
	</select>

	<select id="selectVoList" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.base.entity.vo.system.SysDeptVo">
		SELECT t.* FROM sys_dept t <include refid="queryConditions"></include>
	</select>

	<select id="isLeafDept" parameterType="java.lang.String" resultType="java.lang.Boolean">
		SELECT count(1) from sys_dept t WHERE t.delete_flag = '0' AND t.fid = #{id}
	</select>

</mapper>
