<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.base.mapper.system.SysLogMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.base.entity.po.system.SysLog">
        <id column="id" property="id"/>
        <result column="region_code" property="regionCode"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operate_time" property="operateTime"/>
        <result column="operate_type" property="operateType"/>
        <result column="operate_desc" property="operateDesc"/>
        <result column="operate_detail" property="operateDetail"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.base.entity.vo.system.SysLogVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM sys_log t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM sys_log t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_log t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.base.entity.po.system.SysLog">
        insert into sys_log(id,region_code,operator_id,operate_time,operate_type,operate_desc,operate_detail,) values(
        #{id},#{regionCode},#{operatorId},#{operateTime},#{operateType},#{operateDesc},#{operateDetail}, )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.base.entity.po.system.SysLog">
        update sys_log
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="operatorId != null">
                operator_id = #{operatorId},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime},
            </if>
            <if test="operateType != null">
                operate_type = #{operateType},
            </if>
            <if test="operateDesc != null">
                operate_desc = #{operateDesc},
            </if>
            <if test="operateDetail != null">
                operate_detail = #{operateDetail},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from sys_log
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
