<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.base.mapper.system.SysRegionDeptMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.base.entity.po.system.SysRegionDept">
        <id column="id" property="id"/>
        <result column="region_code" property="regionCode"/>
        <result column="category" property="category"/>
        <result column="region_dept_code" property="regionDeptCode"/>
        <result column="region_dept_name" property="regionDeptName"/>
        <result column="fcode" property="fcode"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.base.entity.vo.system.SysRegionDeptVo">
        <result column="has_leaf" property="hasLeaf"/>
    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="fcode !=null">
                t.fcode = #{fcode,jdbcType=VARCHAR}
            </if>
            <if test="allRegionCode!= null and allRegionCode !='' ">
                and t.region_code in (${allRegionCode})
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM v_sys_region_dept t
        <include refid="queryConditions"></include>
    </select>


    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM v_sys_region_dept t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM v_sys_region_dept t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.base.entity.po.system.SysRegionDept">
        <!--insert into
        sys_region_dept(id,region_dept_code,region_dept_name,fcode,fname,region_dept_level,structure_code,structure_name,status)
        values(
        #{id},#{regionDeptCode},#{regionDeptName},#{fcode},#{fname},#{regionDeptLevel},#{structureCode},#{structureName},#{status}
        )-->
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.base.entity.po.system.SysRegionDept">
        <!--update sys_region_dept
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionDeptCode != null">
                region_dept_code = #{regionDeptCode},
            </if>
            <if test="regionDeptName != null">
                region_dept_name = #{regionDeptName},
            </if>
            <if test="fcode != null">
                fcode = #{fcode},
            </if>
            <if test="fname != null">
                fname = #{fname},
            </if>
            <if test="regionDeptLevel != null">
                region_dept_level = #{regionDeptLevel},
            </if>
            <if test="structureCode != null">
                structure_code = #{structureCode},
            </if>
            <if test="structureName != null">
                structure_name = #{structureName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}-->
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from v_sys_region_dept
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>

    <select id="selectVoListForTreeData" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,CASE WHEN b.dcode IS NULL THEN '0' ELSE '1' END AS has_leaf
        FROM v_sys_region_dept t
        LEFT JOIN (SELECT DISTINCT(fcode) AS dcode FROM v_sys_region_dept) b ON t.region_dept_code=b.dcode
        <include refid="queryConditions"></include>
    </select>


</mapper>
