<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.configure.DirDevelopApisMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.configure.DirDevelopApis">
                    <id column="id" property="id" />
                                                                                                                                                                                                                    <result column="region_code" property="regionCode" />
                            <result column="api_name" property="apiName" />
                            <result column="api_category" property="apiCategory" />
                            <result column="api_url" property="apiUrl" />
                            <result column="api_desc" property="apiDesc" />
                            <result column="parent_id" property="parentId" />
                            <result column="parent_name" property="parentName" />
                            <result column="order_number" property="orderNumber" />
                            <result column="status" property="status" />
                            <result column="create_user_id" property="createUserId" />
                            <result column="create_time" property="createTime" />
                            <result column="update_user_id" property="updateUserId" />
                            <result column="update_time" property="updateTime" />
                            <result column="delete_flag" property="deleteFlag" />
                            <result column="is_show" property="isShow" />
                            <result column="icon" property="icon" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.configure.DirDevelopApisVo">
							<result column="icon_name" property="iconName" />
    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                                                                                                                                                                                                    </where>
    </sql>
    
    <select id="getDirApiZtree" resultType="com.chinawiserv.dsp.dir.entity.po.configure.DirDevelopApis">
	        select * from dir_develop_apis where delete_flag = 0 
	</select>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_develop_apis t 
    		where (t.parent_id = #{parentId} or t.id = #{parentId}) and t.delete_flag = 0
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.*,c.icon_name FROM dir_develop_apis t 
    	left join sys_icon_lib c on (c.icon_path = t.icon and c.icon_type = 'tool_icon')    	
    	WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_develop_apis t 
    	where (t.parent_id = #{parentId} or t.id = #{parentId}) and t.delete_flag = 0
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.configure.DirDevelopApis">
        insert into dir_develop_apis(id,region_code,api_name,api_category,api_url,api_desc,parent_id,parent_name,order_number,status,create_user_id,create_time,update_user_id,update_time,delete_flag,is_show,icon) values(
            #{id},#{regionCode},#{apiName},#{apiCategory},#{apiUrl},#{apiDesc},#{parentId},#{parentName},#{orderNumber},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{deleteFlag},#{isShow},#{icon} )
    </insert>
    
    <update id="updateDeleteFlag" parameterType="string">
    	update dir_develop_apis 
    	
    		set delete_flag = 1
     
     	where  id = #{id}                              
    </update>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.configure.DirDevelopApis">
        update dir_develop_apis
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
                    <if test="apiName != null">
                api_name = #{apiName},
            </if>
                    <if test="apiCategory != null">
                api_category = #{apiCategory},
            </if>
                    <if test="apiUrl != null">
                api_url = #{apiUrl},
            </if>
                    <if test="apiDesc != null">
                api_desc = #{apiDesc},
            </if>
                    <if test="parentId != null">
                parent_id = #{parentId},
            </if>
                    <if test="parentName != null">
                parent_name = #{parentName},
            </if>
            <if test="orderNumber != null">
                order_number = #{orderNumber},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="isShow != null">
                is_show = #{isShow},
            </if>
            <if test="icon != null">
                icon = #{icon}
            </if>
                </set>
        where  id = #{id}                                  </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_develop_apis <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                                                                                                                                                                                                    </where>
    </sql>


<select id="getApiByParentId" resultType="com.chinawiserv.dsp.dir.entity.po.configure.DirDevelopApis">

select * from dir_develop_apis where parent_id = #{id} and delete_flag = 0

</select>


</mapper>
