<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.configure.DirIntrudeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.configure.DirIntrude">
        <id column="id" property="id"/>     
        <result column="category" property="category"/>       
        <result column="content" property="content"/>
        <result column="publisher" property="publisher"/>
        <result column="publish_date" property="publishDate"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.configure.DirIntrudeVo">
	
    </resultMap>
	<update id="updateDeleteFlag" parameterType="string">
    	update dir_portal_content_setting
    	
    		set delete_flag = 1
     
     	where  id = #{id}                              
    </update>
    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="deleteFlag != null">
                t.delete_flag = #{deleteFlag,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT
        t.*
        FROM
        dir_portal_content_setting t       
        where t.delete_flag = #{deleteFlag,jdbcType=INTEGER}
        
        <if test="searchKey != null and searchKey !='' ">
           and t.content LIKE CONCAT('%',#{searchKey},'%')
        </if>
        
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_portal_content_setting t WHERE t.id = #{id} and t.delete_flag = 0
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_portal_content_setting t
        where t.delete_flag = #{deleteFlag,jdbcType=INTEGER}
        <if test="searchKey != null and searchKey !='' ">
           and t.title LIKE CONCAT('%',#{searchKey},'%')
        </if>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.vo.configure.DirIntrudeVo">
        insert into dir_portal_content_setting(id,category,content,publisher,publish_date,delete_flag) values(
            #{id},#{category},#{content},#{publisher},#{publishDate},#{deleteFlag})
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.vo.configure.DirIntrudeVo">
        update dir_portal_content_setting
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="category != null">
                category = #{category},
            </if>           
            <if test="content != null">
                content = #{content},
            </if>
            <if test="publisher != null">
                publisher = #{publisher},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag}
            </if>
            
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_policy
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
