<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.configure.DirNewsMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.configure.DirNews">
                    <id column="id" property="id" />
                                                                                                                                                                                            <result column="region_code" property="regionCode" />
                            <result column="title" property="title" />
                            <result column="news_pic" property="newsPic" />
                            <result column="news_content" property="newsContent" />
                            <result column="publisher" property="publisher" />
                            <result column="publish_date" property="publishDate" />
                            <result column="pic_name" property="picName" />
                            <result column="pic_order" property="picOrder" />
                            <result column="pic_type" property="picType" />
                            <result column="status" property="status" />
                            <result column="create_user_id" property="createUserId" />
                            <result column="create_time" property="createTime" />
                            <result column="update_user_id" property="updateUserId" />
                            <result column="update_time" property="updateTime" />
                            <result column="delete_flag" property="deleteFlag" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.configure.DirNewsVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="deleteFlag != null">
                t.delete_flag = #{deleteFlag,jdbcType=INTEGER}
            </if>
            <if test="searchKey != null">
                 and t.title LIKE CONCAT('%',#{searchKey},'%')
       		 </if>                                                                                                                                                                                                                                                                               </where>
    </sql>


	<update id="updateDeleteFlag" parameterType="string">
    	update dir_news 
    	
    		set delete_flag = 1
     
     	where  id = #{id}                              
    </update>
    
    <update id="forbid" parameterType="string">
    	update dir_news 
    	
    		set status = 0
     
     	where  id = #{id}                              
    </update>
    
    <update id="lancer" parameterType="string">
    	update dir_news 
    	
    		set status = 1
     
     	where  id = #{id}                              
    </update>
    
    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_news t <include refid="queryConditions"></include>
    </select>
    <select id="selectPicBaseInfo" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		select * from dir_news where pic_name = #{picName,jdbcType=VARCHAR}    
    </select>    

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_news t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_news t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.configure.DirNews">
        insert into dir_news(id,region_code,title,news_pic,news_content,publisher,publish_date,status,create_user_id,create_time,update_user_id,update_time,delete_flag,pic_order,pic_name,pic_type) values(
            #{id},#{regionCode},#{title},#{newsPic},#{newsContent},#{publisher},#{publishDate},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{deleteFlag},(select a.picOrder from (select ifnull(max(pic_order),0)+1 as picOrder from dir_news) a),#{picName},#{picType})
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.configure.DirNews">
        update dir_news
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
                    <if test="title != null">
                title = #{title},
            </if>
                    <if test="newsPic != null">
                news_pic = #{newsPic},
            </if>
                    <if test="newsContent != null">
                news_content = #{newsContent},
            </if>
                    <if test="publisher != null">
                publisher = #{publisher},
            </if>
                    <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
                    <if test="status != null">
                status = #{status},
            </if>
                    <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
                    <if test="createTime != null">
                create_time = #{createTime},
            </if>
                    <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
                    <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
                    <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
                </set>
        where  id = #{id}                              </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_news <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                                                                                                                                                            </where>
    </sql>



</mapper>
