<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.quota.mapper.IndictorCategoryMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.chinawiserv.dsp.quota.entity.po.IndictorCategory">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="fid" property="fid" />
		<result column="description" property="description" />
	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap"
		type="com.chinawiserv.dsp.quota.entity.vo.IndictorCategoryVo">
		<result column="hasLeaf" property="hasLeaf" />
	</resultMap>

	<!-- 通用查询过滤条件 -->
	<sql id="queryConditions">
		<where>
			<if test="id != null">
				t.id = #{id}
			</if>
		</where>
	</sql>

    <!--  查询分类指标树 -->
	<select id="selectSubVoList" parameterType="java.util.Map"
		resultType="BaseResultVoMap">
		SELECT t.*,CASE WHEN f.dcode IS NULL THEN '0' ELSE '1' END
		AS hasLeaf
		FROM im_indictor_category t
		LEFT JOIN (SELECT DISTINCT(fid)
		AS dcode FROM im_indictor_category) f on
		t.id=f.dcode
		where t.fid=#{fid}
	</select>




</mapper>
