<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.quota.mapper.IndictorClassifyMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.quota.entity.po.IndictorClassify">
                    <id column="id" property="id" />
                                                                                                                                <result column="category" property="category" />
                            <result column="code" property="code" />
                            <result column="name" property="name" />
                            <result column="fid" property="fid" />
                            <result column="validate_from" property="validateFrom" />
                            <result column="validate_to" property="validateTo" />
                            <result column="description" property="description" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.quota.entity.vo.IndictorClassifyVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                                                        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM im_indictor_classify t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM im_indictor_classify t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM im_indictor_classify t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.quota.entity.po.IndictorClassify">
        insert into im_indictor_classify(id,category,code,name,fid,validate_from,validate_to,description,) values(
            #{id},#{category},#{code},#{name},#{fid},#{validateFrom},#{validateTo},#{description},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.quota.entity.po.IndictorClassify">
        update im_indictor_classify
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="category != null">
                category = #{category},
            </if>
                    <if test="code != null">
                code = #{code},
            </if>
                    <if test="name != null">
                name = #{name},
            </if>
                    <if test="fid != null">
                fid = #{fid},
            </if>
                    <if test="validateFrom != null">
                validate_from = #{validateFrom},
            </if>
                    <if test="validateTo != null">
                validate_to = #{validateTo},
            </if>
                    <if test="description != null">
                description = #{description},
            </if>
                </set>
        where  id = #{id}                    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from im_indictor_classify <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                                                        </where>
    </sql>



</mapper>
