<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.quota.mapper.IndictorMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.quota.entity.po.Indictor">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="show_name" property="showName" />
		<result column="category_id" property="categoryId" />
		<result column="source_dept" property="sourceDept" />
		<result column="measure_unit" property="measureUnit" />
		<result column="update_frequency" property="updateFrequency" />
		<result column="indictor_desc" property="indictorDesc" />
		<result column="source_conf" property="sourceConf" />
		<result column="status" property="status" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap"
		type="com.chinawiserv.dsp.quota.entity.vo.IndictorVo">
        <result column="selectable" property="selectable" />
	</resultMap>

	<!-- 根据分类id查询指标数据 -->
	<select id="selectByCategoryId" parameterType="java.lang.String"
		resultMap="BaseResultVoMap">
		select t.code,t.name,t.show_name,1 AS selectable from
		im_indictor
		where category_id=#{categoryId}

	</select>
</mapper>
