<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.quota.mapper.IndictorDataMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.chinawiserv.dsp.quota.entity.po.IndictorData">
		<id column="id" property="id" />
		<result column="indictor_id" property="indictorId" />
		<result column="report_date" property="reportDate" />
		<result column="val" property="val" />
		<result column="uploader" property="uploader" />
		<result column="upload_time" property="uploadTime" />
	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap"
		type="com.chinawiserv.dsp.quota.entity.vo.IndictorDataVo">
		<result column="var_data" property="varDta" />
		<result column="name" property="name" />
	</resultMap>
	
	
	<select id="selectSumReportDateByMap" parameterType="java.util.Map" resultMap="BaseResultVoMap">
	select sum(t.val) as val_data ,t1.name from im_indictor_data t
	left join im_indictor t1 on t.indictor_id=t1.id
	<include refid="queryConditions"></include>
	</select>

	<!-- 通用查询过滤条件 -->
	<sql id="queryConditions">
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null">
				and t.id = #{id}
			</if>
			<if test="indictorId != null">
				and t.indictor_id = #{indictorId}
			</if>
			<if test="keyTimeStart != null">
				and t.report_date > #{keyTimeStart}
			</if>
			<if test="keyTimeEnd != null">
				and t.report_date < #{keyTimeEnd}
			</if>
			<if test="startTime != null">
				and t.report_date > #{startTime}
			</if>
			<if test="endTime != null">
				and t.report_date < #{endTime}
			</if>

		</trim>
	</sql>




</mapper>
