<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.dcm_sync.DcmTableInfoMapper">


    <sql id="allColumn">
      id,table_category,belong_db_id,belong_dep_id,target_obj_code,target_obj_desc,status,create_user_id,create_time,update_user_id,update_time,delete_flag
    </sql>
    <!--批量插入记录-->
    <insert id="insertBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";" >
              insert into dcm_table_info
              <foreach collection="item.keys" item="key" open="(" close=")" separator="," >
                    ${key}
              </foreach>
              values
              <foreach collection="item.keys"  item="key" open="(" close=")" separator=",">
                #{item.${key}} 
              </foreach>
        </foreach>

        <!--
        <foreach collection="list" item="item" index="index" separator="," >
            <foreach collection="item.keys"  item="key" open="(" close=")" separator=",">
                #{item[${key}]}
            </foreach>
        </foreach>
        -->
        <!--
        insert into dcm_table_info (<include refid="allColumn"></include>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id},#{item.table_category},#{item.belong_db_id},#{item.belong_db_id},#{item.target_obj_code},
            #{item.target_obj_name},#{item.target_obj_desc},#{item.status},#{item.create_user_id},#{item.create_time},
            #{item.update_user_id},#{item.update_time},#{item.delete_flag} )
        </foreach>
        -->
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";" >
            UPDATE dcm_table_info SET
            <foreach collection="item.keys" item="key" separator="," >
                  ${key} = #{item.${key}}
            </foreach>
            WHERE id = #{item.id}
        </foreach>
    </update>

</mapper>