<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.feedback.DirDataCorrectionMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCorrection">
        <id column="id" property="id"/>
        <result column="dcm_id" property="dcmId"/>
        <result column="corrector_id" property="correctorId"/>
        <result column="correct_content" property="correctContent"/>
        <result column="correct_date" property="correctDate"/>
        <result column="auditor_id" property="auditorId"/>
        <result column="audit_date" property="auditDate"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_opinion" property="auditOpinion"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataCorrectionVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="null != searchKey and '' != searchKey">
                AND dt.`dataset_name` LIKE CONCAT('%',#{searchKey},'%')
            </if>
            <if test="null != classifyId and '' != classifyId">
                AND dcm.classify_id IN
                (SELECT
                id
                FROM
                dir_classify
                WHERE delete_flag = 0
                AND tree_code LIKE CONCAT(
                (SELECT
                tree_code
                FROM
                dir_classify
                WHERE delete_flag = 0
                AND id = #{classifyId, jdbcType=VARCHAR}),'%'))
            </if>
            <if test="null != userId and '' != userId">
                AND dcm.classify_id IN(
                SELECT id  FROM dir_classify t,
                (SELECT dc.tree_code FROM dir_classify_authority dca
                LEFT JOIN dir_classify dc ON dca.classify_id = dc.id AND dc.delete_flag=0
                WHERE dca.auth_obj_type ='2' AND dca.auth_obj_id = #{userId,jdbcType=VARCHAR}
                ) a WHERE t.delete_flag=0 AND t.tree_code LIKE CONCAT(a.tree_code, ';%')
                UNION
                SELECT dca1.classify_id FROM dir_classify_authority dca1
                LEFT JOIN dir_classify dc1 ON dca1.classify_id = dc1.id AND dc1.delete_flag=0
                WHERE dca1.auth_obj_type ='2' AND dca1.auth_obj_id = #{userId,jdbcType=VARCHAR}
                UNION
                SELECT id  FROM dir_classify c,
                (SELECT dc.tree_code FROM dir_classify_authority dca
                LEFT JOIN dir_classify dc ON dca.classify_id = dc.id AND dc.delete_flag=0
                WHERE dca.auth_obj_type ='1' AND dca.auth_obj_id =  (SELECT su.dept_id FROM sys_user su WHERE su.delete_flag=0 AND su.id = #{userId,jdbcType=VARCHAR})
                )b WHERE c.delete_flag=0 AND c.tree_code LIKE CONCAT(b.tree_code, ';%')
                UNION
                SELECT dca2.classify_id FROM dir_classify_authority dca2
                LEFT JOIN dir_classify dc2 ON dca2.classify_id = dc2.id AND dc2.delete_flag=0
                WHERE dca2.auth_obj_type ='1' AND dca2.auth_obj_id =  (SELECT su.dept_id FROM sys_user su WHERE su.delete_flag=0 AND su.id = #{userId,jdbcType=VARCHAR})
                )
            </if>
        </where>
    </sql>
    <!---->
    <select id="selectVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataCorrectionVo">
        SELECT
        ddc.`id`,
        ddc.`dcm_id`,
        ddc.`correct_date`,
        dc.`classify_structure_name` AS classify_name,
        dt.`dataset_name`,
        COUNT(ddc.`corrector_id`) AS corrector_count
        FROM
        (SELECT
        *
        FROM
        dir_data_correction
        ORDER BY correct_date DESC) ddc
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`id` = ddc.`dcm_id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        LEFT JOIN dir_dataset dt
        ON dt.`id` = dcm.`dataset_id`
        LEFT JOIN sys_user su
        ON su.`id` = ddc.`corrector_id`
        LEFT JOIN sys_dept sd
        ON sd.`id` = su.`dept_id`
        <include refid="queryConditions"></include>
        GROUP BY ddc.`dcm_id`
        ORDER BY ddc.`correct_date` DESC
    </select>
    <!-- 根据dcmId查询收藏详情,多个用户可以纠错同个数据集 -->
    <select id="selectDetailByDcmId" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataCorrectionVo">
        SELECT
        ddc.*,
        dc.`classify_structure_name` AS classify_name,
        dt.`dataset_name`,
        su.`real_name` AS corrector_name,
        sur.`real_name` AS auditor_name
        FROM
        dir_data_correction ddc
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`id` = ddc.`dcm_id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        LEFT JOIN dir_dataset dt
        ON dt.`id` = dcm.`dataset_id`
        LEFT JOIN sys_user su
        ON su.`id` = ddc.`corrector_id`
        LEFT JOIN sys_user sur
        ON sur.`id` = ddc.`auditor_id`
        WHERE ddc.`dcm_id` = #{dcmId}
        <!-- 搜索关键字 -->
        <if test="null != searchKey and '' != searchKey">
            AND su.`real_name` LIKE CONCAT('%',#{searchKey},'%')
        </if>
        ORDER BY ddc.`correct_date` DESC
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT * FROM dir_data_correction t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_data_correction t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCorrection">
        insert into
        dir_data_correction(id,dcm_id,corrector_id,correct_content,correct_date,auditor_id,audit_date,audit_status,audit_opinion,)
        values(
        #{id},#{dcmId},#{correctorId},#{correctContent},#{correctDate},#{auditorId},#{auditDate},#{auditStatus},#{auditOpinion},
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCorrection">
        update dir_data_correction
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
            <if test="correctorId != null">
                corrector_id = #{correctorId},
            </if>
            <if test="correctContent != null">
                correct_content = #{correctContent},
            </if>
            <if test="correctDate != null">
                correct_date = #{correctDate},
            </if>
            <if test="auditorId != null">
                auditor_id = #{auditorId},
            </if>
            <if test="auditDate != null">
                audit_date = #{auditDate},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="auditOpinion != null">
                audit_opinion = #{auditOpinion},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_correction
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
