<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.feedback.DirDataCollectionMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCollection">
        <id column="id" property="id"/>
        <result column="dcm_id" property="dcmId"/>
        <result column="collector_id" property="collectorId"/>
        <result column="collect_date" property="collectDate"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataCollectionVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <!-- 查询收藏列表 -->
    <select id="selectVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataCollectionVo">
        SELECT
        t.*,
        ddt.`dataset_name` AS dcm_name,
        su.`user_name` AS collector_name
        FROM
        dir_data_collection t
        LEFT JOIN dir_dataset ddt
        ON ddt.`id` = t.`dcm_id`
        LEFT JOIN sys_user su
        ON su.`id` = t.`collector_id`
        WHERE TRUE
        <!-- 搜索关键字 -->
        <if test="null != searchKey and '' != searchKey">
            AND ddt.`dataset_name` LIKE CONCAT('%',#{searchKey},'%')
        </if>
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_data_collection t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_data_collection t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCollection">
        insert into dir_data_collection(id,dcm_id,collector_id,collect_date,) values(
        #{id},#{dcmId},#{collectorId},#{collectDate}, )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataCollection">
        update dir_data_collection
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
            <if test="collectorId != null">
                collector_id = #{collectorId},
            </if>
            <if test="collectDate != null">
                collect_date = #{collectDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_collection
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
