<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.feedback.DirDataRateMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataRate">
        <id column="id" property="id"/>
        <result column="dcm_id" property="dcmId"/>
        <result column="rater_id" property="raterId"/>
        <result column="rate_score" property="rateScore"/>
        <result column="rate_date" property="rateDate"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataRateVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataRateVo">
        SELECT
        ddr.`id`,
        ddr.`dcm_id`,
        ddr.`rate_date`,
        dc.`classify_structure_name` AS classify_name,
        dt.`dataset_name`
        FROM
        (SELECT
        *
        FROM
        dir_data_rate
        ORDER BY rate_date DESC) ddr
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`id` = ddr.`dcm_id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        LEFT JOIN dir_dataset dt
        ON dt.`id` = dcm.`dataset_id`
        WHERE TRUE
        <!-- 搜索关键字 -->
        <if test="null != searchKey and '' != searchKey">
            AND dt.`dataset_name` LIKE CONCAT('%',#{searchKey},'%')
        </if>
        <include refid="queryConditions"></include>
        GROUP BY ddr.`dcm_id`
        ORDER BY ddr.`rate_date` DESC
    </select>
    <!-- 根据dcmId查询收藏详情,多个用户可以评分同个数据集 -->
    <select id="selectDetailByDcmId" parameterType="java.util.Map" resultType="com.chinawiserv.dsp.dir.entity.vo.feedback.DirDataRateVo">
        SELECT
        ddr.*,
        dc.`classify_structure_name` AS classify_name,
        dt.`dataset_name`,
        su.`real_name` AS rater_name
        FROM
        dir_data_rate ddr
        LEFT JOIN dir_dataset_classify_map dcm
        ON dcm.`id` = ddr.`dcm_id`
        LEFT JOIN dir_classify dc
        ON dc.`id` = dcm.`classify_id`
        LEFT JOIN dir_dataset dt
        ON dt.`id` = dcm.`dataset_id`
        LEFT JOIN sys_user su
        ON su.`id` = ddr.`rater_id`
        WHERE ddr.`dcm_id` = #{dcmId}
        <!-- 搜索关键字 -->
        <if test="null != searchKey and '' != searchKey">
            AND su.`real_name` LIKE CONCAT('%',#{searchKey},'%')
        </if>
        ORDER BY ddr.`rate_date` DESC
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT * FROM dir_data_rate t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_data_rate t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataRate">
        insert into dir_data_rate(id,dcm_id,rater_id,rate_score,rate_date,) values(
        #{id},#{dcmId},#{raterId},#{rateScore},#{rateDate}, )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirDataRate">
        update dir_data_rate
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
            <if test="raterId != null">
                rater_id = #{raterId},
            </if>
            <if test="rateScore != null">
                rate_score = #{rateScore},
            </if>
            <if test="rateDate != null">
                rate_date = #{rateDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_rate
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
