<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.feedback.mapper.feedback.DirDataRateMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.feedback.entity.po.feedback.DirDataRate">
        <id column="id" property="id"/>
        <result column="dcm_id" property="dcmId"/>
        <result column="rater_id" property="raterId"/>
        <result column="rate_score" property="rateScore"/>
        <result column="rate_date" property="rateDate"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.feedback.entity.vo.feedback.DirDataRate">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_data_rate t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_data_rate t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_data_rate t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.feedback.entity.po.feedback.DirDataRate">
        insert into dir_data_rate(id,dcm_id,rater_id,rate_score,rate_date,) values(
        #{id},#{dcmId},#{raterId},#{rateScore},#{rateDate}, )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.feedback.entity.po.feedback.DirDataRate">
        update dir_data_rate
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
            <if test="raterId != null">
                rater_id = #{raterId},
            </if>
            <if test="rateScore != null">
                rate_score = #{rateScore},
            </if>
            <if test="rateDate != null">
                rate_date = #{rateDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_rate
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
