<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.feedback.DirSuggestionMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.feedback.DirSuggestion">
                    <id column="id" property="id" />
                                                                                                                                                                    <result column="region_code" property="regionCode" />
                            <result column="title" property="title" />
                            <result column="content" property="content" />
                            <result column="contact_name" property="contactName" />
                            <result column="contact_email" property="contactEmail" />
                            <result column="contact_phone" property="contactPhone" />
                            <result column="submit_date" property="submitDate" />
                            <result column="response_content" property="responseContent" />
                            <result column="response_date" property="responseDate" />
                            <result column="responser" property="responser" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.feedback.DirSuggestionVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                                                                                                                    </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_suggestion t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_suggestion t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_suggestion t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirSuggestion">
        insert into dir_suggestion(id,region_code,title,content,contact_name,contact_email,contact_phone,submit_date,response_content,response_date,responser,) values(
            #{id},#{regionCode},#{title},#{content},#{contactName},#{contactEmail},#{contactPhone},#{submitDate},#{responseContent},#{responseDate},#{responser},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.feedback.DirSuggestion">
        update dir_suggestion
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
                    <if test="title != null">
                title = #{title},
            </if>
                    <if test="content != null">
                content = #{content},
            </if>
                    <if test="contactName != null">
                contact_name = #{contactName},
            </if>
                    <if test="contactEmail != null">
                contact_email = #{contactEmail},
            </if>
                    <if test="contactPhone != null">
                contact_phone = #{contactPhone},
            </if>
                    <if test="submitDate != null">
                submit_date = #{submitDate},
            </if>
                    <if test="responseContent != null">
                response_content = #{responseContent},
            </if>
                    <if test="responseDate != null">
                response_date = #{responseDate},
            </if>
                    <if test="responser != null">
                responser = #{responser},
            </if>
                </set>
        where  id = #{id}                          </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_suggestion <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                                                                                                                    </where>
    </sql>



</mapper>
