package ${package.Mapper};

import ${superMapperClassPackage};
import com.baomidou.mybatisplus.plugins.Page;
import ${package.Entity}.po.${entity};
import ${package.Entity}.vo.${entity}Vo;
import java.util.List;
import java.util.Map;


/**
 * <p>
  * ${table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    List<${entity}Vo> selectVoPage(Page<${entity}Vo> page, Map<String, Object> paramMap);

    ${entity}Vo selectVoById(String id);

    int selectVoCount(Map<String, Object> paramMap);

    int baseInsert(${entity} entity);

    int baseUpdate(${entity} entity);

    int baseDelete(String id);
}