package ${package.Entity}.vo;

import ${package.Entity}.po.${entity};

/**
 * <p>
 * ${table.comment} Vo对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public class ${entity}Vo extends ${entity}{
}
