<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.CsSystemMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <select id="selectProjectList" resultType="java.lang.String">
        SELECT DISTINCT(project_name) FROM cs_data_sync_collect
    </select>

    <select id="selectSourceByProName" resultType="java.lang.String">
        SELECT source_name FROM cs_data_sync_collect WHERE project_name=#{project_name}
    </select>
    
    <select id="selectTablesBySourceName" resultType="java.util.Map">
        SELECT 
            id,table_name
        FROM cs_data_sync_collect WHERE source_name=#{source_name}
    </select>
    
    <select id="selectColumnsByTableId" resultType="java.lang.String">
        SELECT cloumn_name FROM cs_data_sync_collect_column WHERE table_id=#{table_id}
    </select>
</mapper>
