<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirClassifyMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        <id column="id" property="id"/>
        <result column="region_code" property="regionCode"/>
        <result column="classify_code" property="classifyCode"/>
        <result column="classify_name" property="classifyName"/>
        <result column="classify_desc" property="classifyDesc"/>
        <result column="fid" property="fid"/>
        <result column="icon" property="icon"/>
        <result column="fname" property="fname"/>
        <result column="classify_level" property="classifyLevel"/>
        <result column="classify_index" property="classifyIndex"/>
        <result column="dcm_index" property="dcmIndex"/>
        <result column="order_number" property="orderNumber"/>
        <result column="classify_structure_code" property="classifyStructureCode"/>
        <result column="classify_structure_name" property="classifyStructureName"/>
        <result column="status" property="status"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="tree_code" property="treeCode"/>
        <result column="classify_type" property="classifyType"/>
        <result column="national_code" property="nationalCode"/>
        <result column="lead_dept_id" property="leadDeptId"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirClassifyVo">
        <result column="has_leaf" property="hasLeaf"/>
        <result column="dept_id" property="DeptId"/>
        <result column="dept_name" property="DeptName"/>
        <result column="leadDeptName" property="leadDeptName"/>        
        <result column="icon_name" property="iconName"/>
        <result column="classify_type_name" property="classifyTypeName" jdbcType="VARCHAR"/>
        <result column="national_classify_name" property="nationalClassifyName" jdbcType="VARCHAR"/>
       	<result column="is_local" property="isLocal" jdbcType="VARCHAR"/>
        <result column="authority_node" property="authorityNode" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            t.delete_flag = 0
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="fid != null">
                AND t.fid = #{fid,jdbcType=VARCHAR}
            </if>
            <if test="classifyType != null">
                AND t.classify_type = #{classifyType,jdbcType=VARCHAR}
            </if>
            <if test="excludeClassifyType != null">
                AND t.classify_type != #{excludeClassifyType,jdbcType=VARCHAR}
            </if>
            <if test="regionCode!= null and allRegionCode !='' ">
                and t.region_code = #{regionCode,jdbcType=VARCHAR}
            </if>
            <if test="allParentTreeCodes!=null and allParentTreeCodes!='' ">
                and t.tree_code in (${allParentTreeCodes})
            </if>
        </where>
    </sql>
    
   <select id="selectFclassify" resultType="com.chinawiserv.dsp.dir.entity.vo.catalog.DirClassifyVo">
    	
    	select * from dir_classify where id = #{fid}
    	
    </select>
    
	<!-- <select id="selectClassifyCodebyFid" resultType="string">
		
		select classify_code from dir_classify where id = #{fid}
		
	</select>
	<select id="selectClassifyLevelbyFid" resultType="java.lang.Integer">
	
		select classify_level from dir_classify where id = #{fid}
	
	</select>
	
	<select id="selectClassifyIndexbyFid" resultType="java.lang.Integer">
		
		select classify_index from dir_classify where id = #{fid}
		
	</select> -->
	
	 <update id="updateClassifyIndexbyFid" >
	
		update dir_classify 
    	
    		set classify_index = classify_index+1
     
     	where  id = #{fid}  
	
	</update>

	 <update id="updateDcmIndexbyId" >

		update dir_classify

    		set dcm_index = dcm_index+1

     	where  id = #{id}

	</update>

	<select id="selectCountLevel1">
		
		select count(*) from dir_classify where classify_level = 1
		
	</select>
	<!-- <select id="selectClassifyStructureNamebyFid"  resultType="string">
		
		select classify_structure_name from dir_classify where id = #{fid}
	
	</select> -->
	
	
	

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,CASE WHEN b.dcode IS NULL THEN '0' ELSE '1' END AS has_leaf
        <if test="authorityNode!=null and authorityNode!='' ">
            ,#{authorityNode} as authority_node
        </if>
        FROM dir_classify t
        LEFT JOIN (SELECT DISTINCT(fid) AS dcode FROM dir_classify where delete_flag=0) b ON t.id=b.dcode
        <include refid="queryConditions"></include>
        order by order_number
    </select>
    
    <select id="getFirstNode" parameterType="string" resultType="string">
    	
    	select fid from dir_classify where classify_type = '1' and region_code = #{regionCode}
    
    </select>
    

    <select id="selectVoListForTreeData" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,CASE WHEN b.dcode IS NULL THEN '0' ELSE '1' END AS has_leaf,case when t.region_code = #{regionCode} then '1' else '0' end as is_local
        FROM dir_classify t
        LEFT JOIN (SELECT DISTINCT(fid) AS dcode FROM dir_classify where delete_flag = 0) b ON t.id=b.dcode

        where fid=#{fid} and t.delete_flag = 0 and t.region_code 
			in 
			          <foreach collection="regionCodes" item="item" open="(" separator="," close=")">
			              #{item.regionCode}
			          </foreach>
		        
        	
        order by order_number
    </select>

    <select id="selectSubVoListForTreeData" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,CASE WHEN b.dcode IS NULL THEN '0' ELSE '1' END AS has_leaf
        <if test="authorityNode!=null and authorityNode!='' ">
            ,#{authorityNode} as authority_node
        </if>
        FROM dir_classify t
        LEFT JOIN (SELECT DISTINCT(fid) AS dcode FROM dir_classify where delete_flag=0) b ON t.id=b.dcode
        <include refid="queryConditions"></include>
        order by order_number
    </select>
    
    <select id="selectDirectoryByFcode" parameterType="string" resultType="string">
        SELECT fid FROM dir_classify WHERE classify_code = #{dir_code}
    </select>
	
	<select id="selectClassifyIdByRegionCode" parameterType="string" resultType="string">
		
		select classify_code from dir_classify where region_code = #{regionCode} limit 1
	
	</select>

	<select id="selectClassifyBySfcode" parameterType="string" resultType="string">
        SELECT org_code FROM dir_organize WHERE org_fcode = #{org_fcode}
    </select>


	<update id="updateDeleteFlag" parameterType="string">
    	update dir_classify 
    	
    		set delete_flag = 1
     
     	where  id = #{id}                              
    </update>
    
    <delete id="deleteFromMapDept">
    	delete from dir_classify_dept_map
    	where classify_id = #{classify_id}
    
    </delete>
    
    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        select q.* from (
        	SELECT t.*,sd.dept_name as leadDeptName , s.dept_name as dept_name,d.dept_id as dept_id,c.icon_name as icon_name,h.dict_name as classify_type_name,n.classify_name as national_classify_name  FROM dir_classify t 
			left join dir_classify_dept_map d on t.id = d.classify_id
			left join sys_dept sd on sd.id = t.lead_dept_id
			left join sys_dept s on d.dept_id = s.id
			left join sys_icon_lib c on (c.icon_path = t.icon and c.icon_type = 'classify_icon')
			left join sys_dict h on (h.dict_code = t.classify_type and h.category = 'dirClassifyCategory')
			left join dir_national_classify n on t.national_code = n.classify_code
			WHERE t.id = #{id} ) q limit 1			
    </select>
    
    <select id="selectByNationalCode" resultMap="BaseResultVoMap">
    
    	select * from dir_classify where national_code = #{nationalCode} 
    
    </select>
    
    <select id="selectVoById12" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.*, s.dept_name as dept_name,d.dept_id as dept_id,c.icon_name as icon_name FROM dir_classify t 
			left join dir_classify_dept_map d on t.id = d.classify_id
			left join sys_dept s on d.dept_id = s.id
			left join sys_icon_lib c on c.icon_path = t.icon
			WHERE t.id = #{id}
			
    </select>

	
	<select id="getCatelogByParentCode" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
	
		select * from dir_classify where fid = #{id} and delete_flag = 0
	
	</select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_classify t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        insert into

        dir_classify(id,region_code,classify_code,classify_name,classify_desc,fid,fname,classify_level,classify_index,dcm_index,order_number,classify_structure_code,classify_structure_name,status,create_user_id,create_time,update_user_id,update_time,delete_flag,icon,tree_code,classify_type,national_code,lead_dept_id)
        values(

        #{id},#{regionCode},#{classifyCode},#{classifyName},#{classifyDesc},#{fid},#{fname},#{classifyLevel},#{classifyIndex},#{dcmIndex},#{orderNumber},#{classifyStructureCode},#{classifyStructureName},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{deleteFlag},#{icon},
        #{treeCode},#{classifyType},#{nationalCode},#{leadDeptId}
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        update dir_classify
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="classifyCode != null">
                classify_code = #{classifyCode},
            </if>
            <if test="classifyName != null">
                classify_name = #{classifyName},
            </if>
            <if test="classifyDesc != null">
                classify_desc = #{classifyDesc},
            </if>
            <if test="fid != null">
                fid = #{fid},
            </if>
            <if test="fname != null">
                fname = #{fname},
            </if>
            <if test="classifyLevel != null">
                classify_level = #{classifyLevel},
            </if>
            <if test="classifyIndex != null">
                classify_index = #{classifyIndex},
            </if>
            <if test="dcmIndex != null">
                dcm_index = #{dcmIndex},
            </if>
            <if test="orderNumber != null and orderNumber!=''">
                order_number = #{orderNumber},
            </if>
            <if test="classifyStructureCode != null">
                classify_structure_code = #{classifyStructureCode},
            </if>
            <if test="classifyStructureName != null">
                classify_structure_name = #{classifyStructureName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="classifyType != null">
                classify_type = #{classifyType},
            </if>
             <if test="nationalCode != null">
                national_code = #{nationalCode},
            </if>
            <if test="leadDeptId != null">
                lead_dept_id = #{leadDeptId}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_classify
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>

    <select id="selectClassifyByIds" resultType="java.lang.String">
        SELECT tree_code FROM dir_classify WHERE id IN (
          <foreach collection="arr" item="item" separator=",">
              #{item}
          </foreach>
        )
    </select>
    
    <select id="selectMaxIndexByFcode" resultType="java.lang.Object">
    
    	select max(classify_index) from dir_classify where fid = #{fid}    
    
    </select>
    
    <select id="selectMapByDeptId" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDeptMap">
    
    	select * from dir_classify_dept_map where dept_id = #{dcmId} 
    	
    	
    
    </select>
    
    <select id="selectBy23Region" resultMap="BaseResultMap">
    
    	select * from dir_classify where classify_type = '2-3' and region_code = #{regionCode}
    
    </select>
    
    <select id="selectBy3Region" resultMap="BaseResultMap">
    
    	select * from dir_classify where classify_type = '3' and region_code = #{regionCode}
    
    </select>
    
    <select id="selectFidById" resultType="string"> 
    
    	select fid from sys_dept where id = #{id}
    
    </select>
    
    <select id="selectDeptById" resultType="com.chinawiserv.dsp.base.entity.po.system.SysDept"> 
    
    	select * from sys_dept where id = #{id}
    
    </select>
    
    

    
    
    <select id="selectClassifyByStructrue" resultType="java.lang.String">
        SELECT
            id
        FROM
            dir_classify
        WHERE
            classify_structure_name = #{structure}
    </select>

    <select id="selectChildByType" resultMap="BaseResultMap">
        SELECT * FROM dir_classify WHERE fid=(
            SELECT id FROM dir_classify WHERE region_code=#{regionCode} AND classify_type=#{classifyType})
    </select>

</mapper>
