<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDeptMapMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDeptMap">
        <id column="id" property="id"/>
        <result column="classify_id" property="classifyId"/>
        <result column="dept_id" property="deptId"/>        
    </resultMap>



    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
        	
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="fid != null">
                t.fid = #{fid,jdbcType=VARCHAR}
            </if>
                 
        </where>
    </sql>

    <!-- <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_classify t
        <include refid="queryConditions"></include>
    </select> -->

  <!--   <select id="selectVoListForTreeData" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,CASE WHEN b.dcode IS NULL THEN '0' ELSE '1' END AS has_leaf
        FROM dir_classify t
        LEFT JOIN (SELECT DISTINCT(fid) AS dcode FROM dir_classify) b ON t.id=b.dcode
        <include refid="queryConditions"></include>and t.delete_flag = 0 
    </select> -->


	<update id="updateDeleteFlag" parameterType="string">
    	update dir_classify 
    	
    		set delete_flag = 1
     
     	where  classify_code = #{classifyCode}                              
    </update>
<!--     
    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_classify t WHERE t.id = #{id}
    </select> -->

	
	<select id="getCatelogByParentCode" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
	
		select * from dir_classify where fcode = #{classifyCode}
	
	</select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_classify t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDeptMap">
        insert into
        dir_classify_dept_map(id,classify_id,dept_id)
        values(#{id},#{classifyId},#{deptId})
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirClassify">
        update dir_classify
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="regionCode != null">
                region_code = #{regionCode},
            </if>
            <if test="classifyCode != null">
                classify_code = #{classifyCode},
            </if>
            <if test="classifyName != null">
                classify_name = #{classifyName},
            </if>
            <if test="classifyDesc != null">
                classify_desc = #{classifyDesc},
            </if>
            <if test="fcode != null">
                fcode = #{fcode},
            </if>
            <if test="fname != null">
                fname = #{fname},
            </if>
            <if test="classifyLevel != null">
                classify_level = #{classifyLevel},
            </if>
            <if test="classifyIndex != null">
                classify_index = #{classifyIndex},
            </if>
            <if test="dcmIndex != null">
                dcm_index = #{dcmIndex},
            </if>
            <if test="orderNumber != null and orderNumber!=''">
                order_number = #{orderNumber},
            </if>
            <if test="classifyStructureCode != null">
                classify_structure_code = #{classifyStructureCode},
            </if>
            <if test="classifyStructureName != null">
                classify_structure_name = #{classifyStructureName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_classify
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
