<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDataRegisteMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataRegiste">
        <id column="id" property="id"/>
        <result column="dcm_id" property="dcmId"/>
        <result column="register_id" property="registerId"/>
        <result column="registe_date" property="registeDate"/>
        <result column="registe_opinion" property="registeOpinion"/>
        <result column="active_flag" property="activeFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDataRegisteVo">
        <result column="register_name" property="registerName"/>
    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_data_registe t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_data_registe t WHERE t.active_flag=1 and t.id = #{id}
    </select>

    <select id="selectVoByDcmId" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.*,u.real_name as register_name FROM dir_data_registe t
          left join sys_user u on t.register_id=u.id
            WHERE t.active_flag=1 and t.dcm_id = #{dcmId}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_data_registe t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataRegiste">
        insert into dir_data_registe(id,dcm_id,register_id,registe_date,registe_opinion,active_flag) values(
        #{id},#{dcmId},#{registerId},#{registeDate},#{registeOpinion},#{activeFlag} )
    </insert>

    <insert id="insertListData">
        insert into dir_data_registe(id,dcm_id,register_id,registe_date,registe_opinion,active_flag)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.dcmId},#{item.registerId},#{item.registeDate},#{item.registeOpinion},#{item.activeFlag} )
        </foreach>
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataRegiste">
        update dir_data_registe
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
            <if test="registerId != null">
                register_id = #{registerId},
            </if>
            <if test="registeDate != null">
                registe_date = #{registeDate},
            </if>
            <if test="registeOpinion != null">
                registe_opinion = #{registeOpinion},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>

        </set>
        where id = #{id}
    </update>

    <update id="batchUpdateActiveFlag" parameterType="java.util.Map">
        <if test="ids != null and ids !='' ">
            update dir_data_registe
            <set>
                <if test="registerId != null">
                    register_id = #{registerId},
                </if>
                <if test="registeDate != null">
                    registe_date = #{registeDate},
                </if>
                <if test="registeOpinion != null">
                    registe_opinion = #{registeOpinion},
                </if>
                <if test="activeFlag != null">
                    active_flag = #{activeFlag},
                </if>

            </set>
            where dcm_id in
            <foreach collection="ids" open="(" close=")" item="item" separator=",">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_registe
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
