<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDataAuditMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataAudit">
                    <id column="id" property="id" />
                            <result column="dcm_id" property="dcmId" />
                            <result column="auditor_id" property="auditorId" />
                            <result column="audit_date" property="auditDate" />
                            <result column="audit_status" property="auditStatus" />
                            <result column="audit_opinion" property="auditOpinion" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDataAuditVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_data_audit t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_data_audit t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_data_audit t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataAudit">
        insert into dir_data_audit(id,dcm_id,auditor_id,audit_date,audit_status,audit_opinion,) values(
            #{id},#{dcmId},#{auditorId},#{auditDate},#{auditStatus},#{auditOpinion},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataAudit">
        update dir_data_audit
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
                    <if test="auditorId != null">
                auditor_id = #{auditorId},
            </if>
                    <if test="auditDate != null">
                audit_date = #{auditDate},
            </if>
                    <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
                    <if test="auditOpinion != null">
                audit_opinion = #{auditOpinion},
            </if>
                </set>
        where  id = #{id}                </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_data_audit <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                </where>
    </sql>



</mapper>
