<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDatasetExtFormatMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetExtFormat">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="format_category" property="formatCategory"/>
        <result column="format_type" property="formatType"/>
        <result column="format_info" property="formatInfo"/>
    </resultMap>


    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>


    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetExtFormat">
        insert into dir_dataset_ext_format(id,dataset_id,format_category,format_type,format_info) values(
            #{id},#{datasetId},#{formatCategory},#{formatType},#{formatInfo})
    </insert>

    <insert id="batchInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetExtFormat">
        insert into dir_dataset_ext_format(id,dataset_id,format_category,format_type,format_info) values
        <foreach collection="list" item="item" separator=",">
        (#{item.id},#{item.datasetId},#{item.formatCategory},#{item.formatType},#{item.formatInfo})
        </foreach>
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetExtFormat">
        update dir_dataset_ext_format
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="datasetId != null">
                dataset_id = #{datasetId},
            </if>
            <if test="formatCategory != null">
                format_category = #{formatCategory},
            </if>
            <if test="formatType != null">
                format_type = #{formatType},
            </if>
            <if test="formatInfo != null">
                format_info = #{formatInfo},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_dataset_ext_format
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
