<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDataitemMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitem">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="item_desc" property="itemDesc"/>
        <result column="item_type" property="itemType"/>
        <result column="item_length" property="itemLength"/>
        <result column="belong_dept_id" property="belongDeptId"/>
        <result column="share_type" property="shareType"/>
        <result column="share_method" property="shareMethod"/>
        <result column="share_condition" property="shareCondition"/>
        <result column="no_share_explain" property="noShareExplain"/>
        <result column="is_open" property="isOpen"/>
        <result column="open_condition" property="openCondition"/>
        <result column="update_frequency" property="updateFrequency"/>
        <result column="storage_medium" property="storageMedium"/>
        <result column="storage_location" property="storageLocation"/>
        <result column="status" property="status"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDataitemVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_dataitem t
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_dataitem t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_dataitem t
        <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitem">
        insert into
        dir_dataitem(id,dataset_id,item_code,item_name,item_desc,item_type,item_length,belong_dept_id,share_type,share_method,share_condition,no_share_explain,is_open,open_condition,update_frequency,storage_medium,storage_location,status,create_user_id,create_time,update_user_id,update_time,delete_flag,)
        values(
        #{id},#{datasetId},#{itemCode},#{itemName},#{itemDesc},#{itemType},#{itemLength},#{belongDeptId},#{shareType},#{shareMethod},#{shareCondition},#{noShareExplain},#{isOpen},#{openCondition},#{updateFrequency},#{storageMedium},#{storageLocation},#{status},#{createUserId},#{createTime},#{updateUserId},#{updateTime},#{deleteFlag},
        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitem">
        update dir_dataitem
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="datasetId != null">
                dataset_id = #{datasetId},
            </if>
            <if test="itemCode != null">
                item_code = #{itemCode},
            </if>
            <if test="itemName != null">
                item_name = #{itemName},
            </if>
            <if test="itemDesc != null">
                item_desc = #{itemDesc},
            </if>
            <if test="itemType != null">
                item_type = #{itemType},
            </if>
            <if test="itemLength != null">
                item_length = #{itemLength},
            </if>
            <if test="belongDeptId != null">
                belong_dept_id = #{belongDeptId},
            </if>
            <if test="shareType != null">
                share_type = #{shareType},
            </if>
            <if test="shareMethod != null">
                share_method = #{shareMethod},
            </if>
            <if test="shareCondition != null">
                share_condition = #{shareCondition},
            </if>
            <if test="noShareExplain != null">
                no_share_explain = #{noShareExplain},
            </if>
            <if test="isOpen != null">
                is_open = #{isOpen},
            </if>
            <if test="openCondition != null">
                open_condition = #{openCondition},
            </if>
            <if test="updateFrequency != null">
                update_frequency = #{updateFrequency},
            </if>
            <if test="storageMedium != null">
                storage_medium = #{storageMedium},
            </if>
            <if test="storageLocation != null">
                storage_location = #{storageLocation},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_dataitem
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </sql>


</mapper>
