<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDatasetServiceMapMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetServiceMap">
                    <id column="id" property="id" />
                                                                                                        <result column="service_id" property="serviceId" />
                            <result column="dcm_id" property="dcmId" />
                            <result column="valid_from" property="validFrom" />
                            <result column="valid_to" property="validTo" />
                            <result column="status" property="status" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDatasetServiceMap">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_dataset_service_map t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_dataset_service_map t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_dataset_service_map t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetServiceMap">
        insert into dir_dataset_service_map(id,service_id,dcm_id,valid_from,valid_to,status,) values(
            #{id},#{serviceId},#{dcmId},#{validFrom},#{validTo},#{status},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetServiceMap">
        update dir_dataset_service_map
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="serviceId != null">
                service_id = #{serviceId},
            </if>
                    <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
                    <if test="validFrom != null">
                valid_from = #{validFrom},
            </if>
                    <if test="validTo != null">
                valid_to = #{validTo},
            </if>
                    <if test="status != null">
                status = #{status},
            </if>
                </set>
        where  id = #{id}                </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_dataset_service_map <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                </where>
    </sql>



</mapper>
