<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDatasetSourceRelationMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetSourceRelation">
                    <id column="id" property="id" />
                                                                                                                                            <result column="dataset_id" property="datasetId" />
                            <result column="source_mode" property="sourceMode" />
                            <result column="source_table_id" property="sourceTableId" />
                            <result column="source_column_id" property="sourceColumnId" />
                            <result column="target_table_id" property="targetTableId" />
                            <result column="target_column_id" property="targetColumnId" />
                            <result column="relation_type" property="relationType" />
                            <result column="relation_ext_info" property="relationExtInfo" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDatasetSourceRelationVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                                                                            </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_dataset_source_relation t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_dataset_source_relation t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_dataset_source_relation t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetSourceRelation">
        insert into dir_dataset_source_relation(id,dataset_id,source_mode,source_table_id,source_column_id,target_table_id,target_column_id,relation_type,relation_ext_info,) values(
            #{id},#{datasetId},#{sourceMode},#{sourceTableId},#{sourceColumnId},#{targetTableId},#{targetColumnId},#{relationType},#{relationExtInfo},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetSourceRelation">
        update dir_dataset_source_relation
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="datasetId != null">
                dataset_id = #{datasetId},
            </if>
                    <if test="sourceMode != null">
                source_mode = #{sourceMode},
            </if>
                    <if test="sourceTableId != null">
                source_table_id = #{sourceTableId},
            </if>
                    <if test="sourceColumnId != null">
                source_column_id = #{sourceColumnId},
            </if>
                    <if test="targetTableId != null">
                target_table_id = #{targetTableId},
            </if>
                    <if test="targetColumnId != null">
                target_column_id = #{targetColumnId},
            </if>
                    <if test="relationType != null">
                relation_type = #{relationType},
            </if>
                    <if test="relationExtInfo != null">
                relation_ext_info = #{relationExtInfo},
            </if>
                </set>
        where  id = #{id}                      </update>

    <delete id="deleteByParams" parameterType="java.util.Map">
        delete from dir_dataset_source_relation <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="dataset_id !=null">
                dataset_id = #{dataset_id}
            </if>
                                                                                                                                                                                            </where>
    </sql>

    <insert id="insertDatasetListRelation">
        INSERT INTO dir_dataset_source_relation (
        id,
        dataset_id,
        source_mode,
        source_table_id,
        source_column_id,
        target_table_id,
        target_column_id,
        relation_type,
        relation_ext_info
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.datasetId},
            #{item.sourceMode},
            #{item.sourceTableId},
            #{item.sourceColumnId},
            #{item.targetTableId},
            #{item.targetColumnId},
            #{item.relationType},
            #{item.relationExtInfo}
            )
        </foreach>
    </insert>

    <select id="selectRelationsByDatasetId" resultType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetSourceRelation">
        SELECT * FROM dir_dataset_source_relation WHERE dataset_id=#{dataset_id}
    </select>
</mapper>
