<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDatasetClassifyMapMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetClassifyMap">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="classify_id" property="classifyId"/>
        <result column="info_resource_code" property="infoResourceCode"/>
        <result column="status" property="status"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <resultMap id="BaseResultVoMap" extends="BaseResultMap"
               type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDatasetClassifyMapVo">
        <result column="dataset_name" property="datasetName"/>
        <result column="classify_name" property="classifyName"/>
        <result column="classify_structure_name" property="classifyStructureName"/>
        <result column="dept_name" property="deptName"/>
        <result column="publish_type" property="publishType"/>
    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
            t.delete_flag =0
            <if test="id != null">
                and t.id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="datasetId != null">
                and t.dataset_id = #{datasetId,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status!='' ">
                and t.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="allStatus != null and allStatus!='' ">
                and t.status in
                <foreach collection="allStatus" open="(" close=")" item="item" separator=",">
                    #{item, jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="datasetName!= null and datasetName !='' ">
                and d.dataset_name like concat('%',#{datasetName,jdbcType=VARCHAR},'%')
            </if>
            <if test="classifyId!= null and classifyId !='' ">
                and t.classify_id in (select id from dir_classify where tree_code like concat((select tree_code from dir_classify where id=#{classifyId, jdbcType=VARCHAR}),'%'))
            </if>
            <if test="allRegionCode!= null and allRegionCode !='' ">
                and t.dataset_id in (select id from dir_dataset where region_code in (${allRegionCode}))
            </if>
        </where>
    </sql>

    <select id="baseSelect" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        select * from dir_dataset_classify_map t
        <include refid="queryConditions"></include>
    </select>
    
    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,d.dataset_name,c.classify_name,c.classify_structure_name,de.dept_name FROM dir_dataset_classify_map t
            left join dir_dataset d on t.dataset_id=d.id
            left join dir_classify c on t.classify_id=c.id
            left join sys_dept de on d.belong_dept_id=de.id
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoPageForReleased" parameterType="java.util.Map" resultMap="BaseResultVoMap">
        SELECT t.*,d.dataset_name,c.classify_name,c.classify_structure_name,de.dept_name,p.publish_type
        FROM dir_dataset_classify_map t
        left join dir_dataset d on t.dataset_id=d.id
        left join dir_classify c on t.classify_id=c.id
        left join sys_dept de on d.belong_dept_id=de.id
        left join dir_data_publish p on t.id=p.dcm_id and p.active_flag="1"
        <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_dataset_classify_map t WHERE t.delete_flag =0 and t.id = #{id}
    </select>

    <select id="selectVoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM dir_dataset_classify_map t
            left join dir_dataset d on t.dataset_id=d.id
            left join dir_classify c on t.classify_id=c.id
            left join sys_dept p on d.belong_dept_id=p.id
        <include refid="queryConditions"></include>
    </select>

    <select id="checkDatasetName" resultMap="BaseResultVoMap">
        SELECT t.* FROM dir_dataset_classify_map t
            left join dir_dataset d on t.dataset_id=d.id
            WHERE t.delete_flag =0 and d.dataset_name = #{datasetName} and t.classify_id in(${classifyIds})
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetClassifyMap">
        insert into
        dir_dataset_classify_map(id,dataset_id,classify_id,info_resource_code,status,update_user_id,update_time)
        values(
        #{id},#{datasetId},#{classifyId},#{infoResourceCode},#{registerId},#{registeDate},#{status},#{updateUserId},#{updateTime}
        )
    </insert>

    <insert id="insertListItem">
        insert into dir_dataset_classify_map(id,dataset_id,classify_id,info_resource_code,status,update_user_id,update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.datasetId},#{item.classifyId},#{item.infoResourceCode},#{item.status},#{item.updateUserId},#{item.updateTime})
        </foreach>
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDatasetClassifyMap">
        update dir_dataset_classify_map
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="datasetId != null">
                dataset_id = #{datasetId},
            </if>
            <if test="classifyId != null">
                classify_id = #{classifyId},
            </if>
            <if test="infoResourceCode != null">
                info_resource_code = #{infoResourceCode},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <if test="ids != null and ids !='' and status != null and status != '' ">
            update dir_dataset_classify_map
            <set>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="updateUserId != null">
                    update_user_id = #{updateUserId},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="deleteFlag != null">
                    delete_flag = #{deleteFlag},
                </if>
            </set>
            where id in
            <foreach collection="ids" open="(" close=")" item="item" separator=",">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_dataset_classify_map
        <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </sql>


</mapper>
