<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DirDataitemDistributeMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitemDistribute">
                    <id column="id" property="id" />
                                                                                                                                <result column="dcm_id" property="dcmId" />
                            <result column="item_id" property="itemId" />
                            <result column="obj_type" property="objType" />
                            <result column="obj_id" property="objId" />
                            <result column="distributor_id" property="distributorId" />
                            <result column="distribute_opinion" property="distributeOpinion" />
                            <result column="distribute_date" property="distributeDate" />
            	</resultMap>

	<resultMap id="BaseResultVoMap" extends="BaseResultMap" type="com.chinawiserv.dsp.dir.entity.vo.catalog.DirDataitemDistributeVo">

    </resultMap>

    <!-- 通用查询过滤条件 -->
    <sql id="queryConditions">
        <where>
                                <if test="id != null">
                t.id = #{id,jdbcType=VARCHAR}
            </if>
                                                                                                                                                                        </where>
    </sql>

    <select id="selectVoPage" parameterType="java.util.Map" resultMap="BaseResultVoMap">
    		SELECT t.* FROM dir_dataitem_distribute t <include refid="queryConditions"></include>
    </select>

    <select id="selectVoById" parameterType="java.lang.String" resultMap="BaseResultVoMap">
    	SELECT t.* FROM dir_dataitem_distribute t WHERE t.id = #{id}
    </select>

    <select id="selectVoCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
    	SELECT count(1) FROM dir_dataitem_distribute t <include refid="queryConditions"></include>
    </select>

    <insert id="baseInsert" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitemDistribute">
        insert into dir_dataitem_distribute(id,dcm_id,item_id,obj_type,obj_id,distributor_id,distribute_opinion,distribute_date,) values(
            #{id},#{dcmId},#{itemId},#{objType},#{objId},#{distributorId},#{distributeOpinion},#{distributeDate},        )
    </insert>

    <update id="baseUpdate" parameterType="com.chinawiserv.dsp.dir.entity.po.catalog.DirDataitemDistribute">
        update dir_dataitem_distribute
        <set>
                    <if test="id != null">
                id = #{id},
            </if>
                    <if test="dcmId != null">
                dcm_id = #{dcmId},
            </if>
                    <if test="itemId != null">
                item_id = #{itemId},
            </if>
                    <if test="objType != null">
                obj_type = #{objType},
            </if>
                    <if test="objId != null">
                obj_id = #{objId},
            </if>
                    <if test="distributorId != null">
                distributor_id = #{distributorId},
            </if>
                    <if test="distributeOpinion != null">
                distribute_opinion = #{distributeOpinion},
            </if>
                    <if test="distributeDate != null">
                distribute_date = #{distributeDate},
            </if>
                </set>
        where  id = #{id}                    </update>

    <delete id="baseDelete" parameterType="java.util.Map">
        delete from dir_dataitem_distribute <include refid="deleteWhereCause"/>
    </delete>

    <sql id="deleteWhereCause">
        <where>
                                <if test="id != null">
                id = #{id}
            </if>
                                                                                                                                                                        </where>
    </sql>



</mapper>
