<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinawiserv.dsp.dir.mapper.catalog.DrapDbMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="selectDbByDeptId" resultType="map">
        SELECT
            ddi.id,ddi.db_name,ddi.db_cn_name
        FROM
            drap_db_info ddi
        LEFT JOIN sys_dept sd ON ddi.belong_dept = sd.id
        WHERE
            TRUE
        AND sd.id = #{dept_id}
    </select>

    <select id="selectTableByDbId" resultType="map">
        SELECT
            ddti.id,ddti.table_name,ddti.table_cn_name,ddti.table_desc
        FROM drap_db_table_info ddti
        LEFT JOIN drap_db_info ddi ON ddti.db_id=ddi.id
        WHERE TRUE
        AND ddi.id=#{db_id}
    </select>

    <select id="selectFieldByTableId" resultType="map">
        SELECT
            ddtc.id,ddtc.column_en_name,ddtc.column_cn_name,ddtc.column_desc
        FROM
            drap_db_table_column ddtc
        LEFT JOIN drap_db_table_info ddti ON ddtc.table_id = ddti.id
        WHERE
            TRUE
        AND ddti.id = #{table_id}
    </select>

    <resultMap id="result_DrapDbTableColumn_Map" type="com.chinawiserv.dsp.dir.entity.po.catalog.DrapDbTableColumn">
        <id column="id" property="id" />
        <result column="table_id" property="table_id" />
        <result column="column_code" property="column_code" />
        <result column="column_cn_name" property="column_cn_name" />
        <result column="default_value" property="default_value" />
        <result column="column_length" property="column_length" />
        <result column="column_en_name" property="column_en_name" />
        <result column="is_business_data" property="is_business_data" />
        <result column="is_pk" property="is_pk" />
        <result column="is_null" property="is_null" />
        <result column="column_type" property="column_type" />
        <result column="sensitive_remark" property="sensitive_remark" />
        <result column="update_frequency" property="update_frequency" />
        <result column="column_desc" property="column_desc" />
        <result column="data_precision" property="data_precision" />
        <result column="code_index" property="code_index" />
        <result column="status" property="status" />
        <result column="delete_flag" property="delete_flag" />

        <result column="table_cn_name" property="table_cn_name" />
        <result column="table_name" property="table_name" />
        <result column="dept_name" property="dept_name" />
        <result column="dept_id" property="dept_id" />
    </resultMap>

    <select id="selectFieldByIds" resultMap="result_DrapDbTableColumn_Map">
        SELECT
            ddtc.*, ddti.table_cn_name,
            ddti.table_name,
            sd.dept_name,
            sd.id AS dept_id
        FROM
            drap_db_table_column ddtc
        LEFT JOIN drap_db_table_info ddti ON ddtc.table_id = ddti.id
        LEFT JOIN drap_db_info ddi ON ddti.db_id = ddti.db_id
        LEFT JOIN sys_dept sd ON sd.id = ddi.belong_dept
        WHERE
            TRUE
        <foreach collection="list" item="item" open=" AND ddtc.id IN (" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY
            ddtc.id
    </select>
</mapper>
